{
  "openapi": "3.1.0",
  "info": {
    "title": "MyLINK WhatsApp API",
    "version": "v2",
    "description": "<div>\t<h2>Purpose and functionality</h2>\t<p>MyLINK WhatsApp API is a REST-based API that supports sending WhatsApp messages to the recipients you want to reach.</p>\t<h2>Current supported functionality</h2>\t<ul style=\"list-style:disc inside;\">\t\t<li>Send WhatsApp messages<ul style=\"list-style:circle;\"><li>Send a text WhatsApp message</li><li>Send a WhatsApp message with media (image, video, document, sticker, location)</li><li>Send an interactive WhatsApp message (containing list, catalogue, flow, carousel and more)</li><li>Send a WhatsApp template message (authentication, marketing or utility)</li></ul></li><li>Receive WhatsApp messages </li><li>Receive Delivery reports for sent messages</li><li>Create/Update/Delete and Retrieve templates via API</li></ul><p>In order to start sending on WhatsApp you must first create a template message. This process is mandated by Meta to improve the relevancy and trust consumers have in their inbox messages; ultimately filtering out potential spam content that reduces that channel's popularity amongst consumers. LINK can help you create templates. You can also follow this documentation on how to do it. </p><h2>Getting started</h2><p>To maximise the deliverability of your WhatsApp messages first you need to make sure that your configuration is correctly set up. The following steps are crucial for the success of your integration:</p><ul style=\"list-style:disc inside;\"><li>Get in touch with us to get a demo or sign up for the product: <a href=\"https://www.linkmobility.com/contact-us\">Click here</a></li><li>Accept your invitation to the MyLINK portal to generate your API secrets - simply go to the Messaging APIs page in the navigation menu, select the myLINK WhatsApp API product and generate your credentials(clientId and secret)</li><li>Revisit the developer portal for how to send a WhatsApp message</li></ul><p>All needed values for the configuration can be found on the Messaging APIs page in MyLINK. Once ready, revisit the developer portal for how to send WhatsApp messages.</p></div>"
  },
  "servers": [
    {
      "url": "https://api.linkmobility.com",
      "description": "LINK Mobility MyLINK (base shared with the sibling SMS/Email APIs)"
    }
  ],
  "tags": [
    {
      "name": "Send messages",
      "description": "<p>The API allows you to send messages to this endpoint regardless of message type, but the content of the JSON message body differs for each type of message. See the defined schema for building your desired message type or check our examples below:</p><h2>Text messages </h2><p>Text messages are messages containing only a text body and an optional link preview.</p><div class=\"sc-iMTnTL fJRIzN\"><h5 class=\"sc-dAlyuH sc-hwdzOV hNlDMA hjazRA\">Example</h5><svg class=\"sc-cwHptR kNXOKB showHide\" version=\"1.1\" viewBox=\"0 0 24 24\" x=\"0\" xmlns=\"http://www.w3.org/2000/svg\" y=\"0\" aria-hidden=\"true\"><polygon points=\"17.3 8.3 12 13.6 6.7 8.3 5.3 9.7 12 16.4 18.7 9.7 \"/></svg></div><div><pre><code>[\n\t{         \n\t\t\"recipient\": \"{{msisdn}}\",        \n\t\t\"content\": {            \n\t\t\t\"media\": {            \n\t\t\t\t\"type\": \"text\",             \n\t\t\t\t\"text\": {             \n\t\t\t\t\t \"body\": \"I am typing a text to test this\"            \n\t\t\t\t}            \n\t\t\t},            \n\t\t\t\"options\": {            \n\t\t\t\t\"sender\": \"{{whatsAppSender}}\"            \n\t\t\t}        \n\t\t},        \n\t\"callback\": {            \n\t\t\"mode\": \"URL\",            \n\t\t\"urls\": [                 \n\t\t\t\"https://webhook.site/b8d8d417-00cc-4046-b428-cf0caafabd19\"             \n\t\t],              \n\t\t\"ttl\": 0         },         \n\t\"referenceId\": \"reference-no-1\",         \n\t\t\"priority\": \"Normal\"     \n\t } \n] </code></pre></div><h2>Media messages:</h2><p>Media messages can be sent in two ways:<ol><li><strong>By providing a publicly available media link.</strong></li><li><strong>(Recommended)</strong> By uploading the media through the <a href=\"documentation/whatsapp#tag/Media-upload\">Media Upload endpoint</a> and referencing the file using its generated <strong>media ID</strong> in your message.</li></ol>Below are examples demonstrating both approaches.</p><h2>Image messages</h2><p>Image messages are messages that display a single image and an optional caption.</p><p>Supported image format:<ul style=\"list-style:disc inside;\"><li>.jpeg</li><li>.png</li></ul></p><div class=\"sc-iMTnTL fJRIzN\"><h5 class=\"sc-dAlyuH sc-hwdzOV hNlDMA hjazRA\">Example with link</h5><svg class=\"sc-cwHptR kNXOKB showHide\" version=\"1.1\" viewBox=\"0 0 24 24\" x=\"0\" xmlns=\"http://www.w3.org/2000/svg\" y=\"0\" aria-hidden=\"true\"><polygon points=\"17.3 8.3 12 13.6 6.7 8.3 5.3 9.7 12 16.4 18.7 9.7 \"/></svg><div><pre><code>[\n\t{         \n\t\t\"recipient\": \"{{msisdn}}\",        \n\t\t\"content\": {            \n\t\t\t\"media\": {            \n\t\t\t\t\"type\": \"image\",             \n\t\t\t\t\"image\": {             \n\t\t\t\t\t \"link\": \"https://i.pinimg.com/originals/8d/53/33/8d53339fee9bb43e7ba5db4a9455d783.jpg\"            \n\t\t\t\t}            \n\t\t\t},            \n\t\t\t\"options\": {            \n\t\t\t\t\"sender\": \"{{whatsAppSender}}\"            \n\t\t\t}        \n\t\t},        \n\t\t\"callback\": {            \n\t\t\t\"mode\": \"URL\",            \n\t\t\t\"urls\": [                 \n\t\t\t\t\"https://webhook.site/4d253417-0cb7-44b8-9468-268bbf2ef2a4\"                 \n\t\t\t],              \n\t\t\t\"ttl\": 0       \n\t\t} \n\t } \n] </code></pre></div></div><div class=\"sc-iMTnTL fJRIzN\"><h5 class=\"sc-dAlyuH sc-hwdzOV hNlDMA hjazRA\">Example with media ID</h5><svg class=\"sc-cwHptR kNXOKB showHide\" version=\"1.1\" viewBox=\"0 0 24 24\" x=\"0\" xmlns=\"http://www.w3.org/2000/svg\" y=\"0\" aria-hidden=\"true\"><polygon points=\"17.3 8.3 12 13.6 6.7 8.3 5.3 9.7 12 16.4 18.7 9.7 \"/></svg><div><pre><code>[\n\t{         \n\t\t\"recipient\": \"{{msisdn}}\",        \n\t\t\"content\": {            \n\t\t\t\"media\": {            \n\t\t\t\t\"type\": \"image\",             \n\t\t\t\t\"image\": {             \n\t\t\t\t\t \"id\": \"634516282819190\", \n\t\t\t\t\t \"caption\": \"Movie night!\"            \n\t\t\t\t}            \n\t\t\t},            \n\t\t\t\"options\": {            \n\t\t\t\t\"sender\": \"{{whatsAppSender}}\"            \n\t\t\t}        \n\t\t},        \n\t\t\"callback\": {            \n\t\t\t\"mode\": \"URL\",            \n\t\t\t\"urls\": [                 \n\t\t\t\t\"https://webhook.site/4479ec41-d6c2-4ae0-8f07-90627b9b0801\"                 \n\t\t\t],              \n\t\t\t\"ttl\": 1000       \n\t\t} \n\t } \n] </code></pre></div></div><h2>Audio messages</h2><p>Audio messages display an audio icon and a link to an audio file. When the WhatsApp user taps the icon, the WhatsApp client loads and plays the audio file. </p><p>Supported audio format:<ul style=\"list-style:disc inside;\"><li>.aac</li><li>.mp4</li><li>.amr</li><li>.mpeg</li><li>.ogg (codex=opus)</li></ul></p><div class=\"sc-iMTnTL fJRIzN\"><h5 class=\"sc-dAlyuH sc-hwdzOV hNlDMA hjazRA\">Example with link</h5><svg class=\"sc-cwHptR kNXOKB showHide\" version=\"1.1\" viewBox=\"0 0 24 24\" x=\"0\" xmlns=\"http://www.w3.org/2000/svg\" y=\"0\" aria-hidden=\"true\"><polygon points=\"17.3 8.3 12 13.6 6.7 8.3 5.3 9.7 12 16.4 18.7 9.7 \"/></svg></div><div><pre><code>[\n\t{         \n\t\t\"recipient\": \"{{msisdn}}\",        \n\t\t\"content\": {            \n\t\t\t\"media\": {            \n\t\t\t\t\"type\": \"audio\",             \n\t\t\t\t\"audio\": {             \n\t\t\t\t\t \"link\": \"https://filesamples.com/samples/audio/mp3/sample4.mp3\"            \n\t\t\t\t}            \n\t\t\t},            \n\t\t\t\"options\": {            \n\t\t\t\t\"sender\": \"{{whatsAppSender}}\"            \n\t\t\t}        \n\t\t},        \n\t\t\"callback\": {            \n\t\t\t\"mode\": \"URL\",            \n\t\t\t\"urls\": [                 \n\t\t\t\t\"https://webhook.site/4d253417-0cb7-44b8-9468-268bbf2ef2a4\"                 \n\t\t\t],              \n\t\t\t\"ttl\": 0       \n\t\t} \n\t } \n] </code></pre></div><div class=\"sc-iMTnTL fJRIzN\"><h5 class=\"sc-dAlyuH sc-hwdzOV hNlDMA hjazRA\">Example with media ID</h5><svg class=\"sc-cwHptR kNXOKB showHide\" version=\"1.1\" viewBox=\"0 0 24 24\" x=\"0\" xmlns=\"http://www.w3.org/2000/svg\" y=\"0\" aria-hidden=\"true\"><polygon points=\"17.3 8.3 12 13.6 6.7 8.3 5.3 9.7 12 16.4 18.7 9.7 \"/></svg></div><div><pre><code>[\n\t{         \n\t\t\"recipient\": \"{{msisdn}}\",        \n\t\t\"content\": {            \n\t\t\t\"media\": {            \n\t\t\t\t\"type\": \"audio\",             \n\t\t\t\t\"audio\": {             \n\t\t\t\t\t \"id\": \"183756660685928\"            \n\t\t\t\t}            \n\t\t\t},            \n\t\t\t\"options\": {            \n\t\t\t\t\"sender\": \"{{whatsAppSender}}\"            \n\t\t\t}        \n\t\t},        \n\t\t\"callback\": {            \n\t\t\t\"mode\": \"URL\",            \n\t\t\t\"urls\": [                 \n\t\t\t\t\"https://webhook.site/4479ec41-d6c2-4ae0-8f07-90627b9b0801\"                 \n\t\t\t],              \n\t\t\t\"ttl\": 1000       \n\t\t} \n\t } \n] </code></pre></div><h2>Video messages</h2><p>Video messages display a thumbnail preview of a video image with an optional caption. When the WhatsApp user taps the preview, it loads the video and displays it to the user. </p><p>Supported video format:<ul style=\"list-style:disc inside;\"><li>.mp4</li><li>.3gpp</li></ul></p><div class=\"sc-iMTnTL fJRIzN\"><h5 class=\"sc-dAlyuH sc-hwdzOV hNlDMA hjazRA\">Example with link</h5><svg class=\"sc-cwHptR kNXOKB showHide\" version=\"1.1\" viewBox=\"0 0 24 24\" x=\"0\" xmlns=\"http://www.w3.org/2000/svg\" y=\"0\" aria-hidden=\"true\"><polygon points=\"17.3 8.3 12 13.6 6.7 8.3 5.3 9.7 12 16.4 18.7 9.7 \"/></svg></div><div><pre><code>[\n\t{         \n\t\t\"recipient\": \"{{msisdn}}\",        \n\t\t\"content\": {            \n\t\t\t\"media\": {            \n\t\t\t\t\"type\": \"video\",             \n\t\t\t\t\"video\": {             \n\t\t\t\t\t \"link\": \"https://devlcmlcontent.blob.core.windows.net/wamedia-test/sample_640x360.mp4\"            \n\t\t\t\t}            \n\t\t\t},            \n\t\t\t\"options\": {            \n\t\t\t\t\"sender\": \"{{whatsAppSender}}\"            \n\t\t\t}        \n\t\t},        \n\t\t\"callback\": {            \n\t\t\t\"mode\": \"URL\",            \n\t\t\t\"urls\": [                 \n\t\t\t\t\"https://webhook.site/4d253417-0cb7-44b8-9468-268bbf2ef2a4\"                 \n\t\t\t],              \n\t\t\t\"ttl\": 0       \n\t\t} \n\t } \n] </code></pre></div><div class=\"sc-iMTnTL fJRIzN\"><h5 class=\"sc-dAlyuH sc-hwdzOV hNlDMA hjazRA\">Example with media ID</h5><svg class=\"sc-cwHptR kNXOKB showHide\" version=\"1.1\" viewBox=\"0 0 24 24\" x=\"0\" xmlns=\"http://www.w3.org/2000/svg\" y=\"0\" aria-hidden=\"true\"><polygon points=\"17.3 8.3 12 13.6 6.7 8.3 5.3 9.7 12 16.4 18.7 9.7 \"/></svg></div><div><pre><code>[\n\t{         \n\t\t\"recipient\": \"{{msisdn}}\",        \n\t\t\"content\": {            \n\t\t\t\"media\": {            \n\t\t\t\t\"type\": \"video\",             \n\t\t\t\t\"video\": {             \n\t\t\t\t\t \"id\": \"1837566606859282\", \n\t\t\t\t\t \"caption\": \"The world\"             \n\t\t\t\t}            \n\t\t\t},            \n\t\t\t\"options\": {            \n\t\t\t\t\"sender\": \"{{whatsAppSender}}\"            \n\t\t\t}        \n\t\t},        \n\t\t\"callback\": {            \n\t\t\t\"mode\": \"URL\",            \n\t\t\t\"urls\": [                 \n\t\t\t\t\"https://webhook.site/4479ec41-d6c2-4ae0-8f07-90627b9b0801\"                 \n\t\t\t],              \n\t\t\t\"ttl\": 1000       \n\t\t} \n\t } \n] </code></pre></div><h2>Document messages</h2><p>Document messages are messages that display a document icon, linked to a document, that a WhatsApp user can tap to download. <br>Supports any MIME-type document.</p><div class=\"sc-iMTnTL fJRIzN\"><h5 class=\"sc-dAlyuH sc-hwdzOV hNlDMA hjazRA\">Example with link</h5><svg class=\"sc-cwHptR kNXOKB showHide\" version=\"1.1\" viewBox=\"0 0 24 24\" x=\"0\" xmlns=\"http://www.w3.org/2000/svg\" y=\"0\" aria-hidden=\"true\"><polygon points=\"17.3 8.3 12 13.6 6.7 8.3 5.3 9.7 12 16.4 18.7 9.7 \"/></svg></div><div><pre><code>[\n\t{         \n\t\t\"recipient\": \"{{msisdn}}\",        \n\t\t\"content\": {            \n\t\t\t\"media\": {            \n\t\t\t\t\"type\": \"document\",             \n\t\t\t\t\"document\": {             \n\t\t\t\t\t \"link\": \"https://www.w3.org/WAI/ER/tests/xhtml/testfiles/resources/pdf/dummy.pdf\",\n\t\t\t\t\t \"caption\": \"This is an important pdf file\",  \n\t\t\t\t\t \"filename\": \"This is an important pdf file\"           \n\t\t\t\t}            \n\t\t\t},            \n\t\t\t\"options\": {            \n\t\t\t\t\"sender\": \"{{whatsAppSender}}\"            \n\t\t\t}        \n\t\t},        \n\t\t\"callback\": {            \n\t\t\t\"mode\": \"URL\",            \n\t\t\t\"urls\": [                 \n\t\t\t\t\"https://webhook.site/4d253417-0cb7-44b8-9468-268bbf2ef2a4\"                 \n\t\t\t],              \n\t\t\t\"ttl\": 0       \n\t\t} \n\t } \n] </code></pre></div><div class=\"sc-iMTnTL fJRIzN\"><h5 class=\"sc-dAlyuH sc-hwdzOV hNlDMA hjazRA\">Example with media ID</h5><svg class=\"sc-cwHptR kNXOKB showHide\" version=\"1.1\" viewBox=\"0 0 24 24\" x=\"0\" xmlns=\"http://www.w3.org/2000/svg\" y=\"0\" aria-hidden=\"true\"><polygon points=\"17.3 8.3 12 13.6 6.7 8.3 5.3 9.7 12 16.4 18.7 9.7 \"/></svg></div><div><pre><code>[\n\t{         \n\t\t\"recipient\": \"{{msisdn}}\",        \n\t\t\"content\": {            \n\t\t\t\"media\": {            \n\t\t\t\t\"type\": \"document\",             \n\t\t\t\t\"document\": {             \n\t\t\t\t\t \"id\": \"735061532869049\",\n\t\t\t\t\t \"caption\": \"This is an important pdf file\",  \n\t\t\t\t\t \"filename\": \"Important pdf file\"           \n\t\t\t\t}            \n\t\t\t},            \n\t\t\t\"options\": {            \n\t\t\t\t\"sender\": \"{{whatsAppSender}}\"            \n\t\t\t}        \n\t\t},        \n\t\t\"callback\": {            \n\t\t\t\"mode\": \"URL\",            \n\t\t\t\"urls\": [                 \n\t\t\t\t\"https://webhook.site/4479ec41-d6c2-4ae0-8f07-90627b9b0801\"                 \n\t\t\t],              \n\t\t\t\"ttl\": 1000       \n\t\t} \n\t } \n] </code></pre></div><h2>Sticker messages</h2><p>Sticker messages display animated or static sticker images in a WhatsApp message.</p><div class=\"sc-iMTnTL fJRIzN\"><h5 class=\"sc-dAlyuH sc-hwdzOV hNlDMA hjazRA\">Example</h5><svg class=\"sc-cwHptR kNXOKB showHide\" version=\"1.1\" viewBox=\"0 0 24 24\" x=\"0\" xmlns=\"http://www.w3.org/2000/svg\" y=\"0\" aria-hidden=\"true\"><polygon points=\"17.3 8.3 12 13.6 6.7 8.3 5.3 9.7 12 16.4 18.7 9.7 \"/></svg></div><div><pre><code>[\n\t{         \n\t\t\"recipient\": \"{{msisdn}}\",        \n\t\t\"content\": {            \n\t\t\t\"media\": {            \n\t\t\t\t\"stickerId\": \"1241022987536359\",             \n\t\t\t},            \n\t\t\t\"options\": {            \n\t\t\t\t\"sender\": \"{{whatsAppSender}}\"            \n\t\t\t}        \n\t\t}, \n\t\t\"callback\": {            \n\t\t\t\"mode\": \"URL\",            \n\t\t\t\"urls\": [                 \n\t\t\t\t\"https://webhook.site/4d253417-0cb7-44b8-9468-268bbf2ef2a4\"                 \n\t\t\t],              \n\t\t\t\"ttl\": 0       \n\t\t} \n\t } \n] </code></pre></div><h2>Contact messages</h2><p>Contacts messages allow you to send rich contact information directly to WhatsApp users, such as names, phone numbers, physical addresses, and email addresses. </p><div class=\"sc-iMTnTL fJRIzN\"><h5 class=\"sc-dAlyuH sc-hwdzOV hNlDMA hjazRA\">Example</h5><svg class=\"sc-cwHptR kNXOKB showHide\" version=\"1.1\" viewBox=\"0 0 24 24\" x=\"0\" xmlns=\"http://www.w3.org/2000/svg\" y=\"0\" aria-hidden=\"true\"><polygon points=\"17.3 8.3 12 13.6 6.7 8.3 5.3 9.7 12 16.4 18.7 9.7 \"/></svg></div><div><pre><code>[\n\t{         \n\t\t\"recipient\": \"{{msisdn}}\",        \n\t\t\"content\": {            \n\t\t\t\"media\": {            \n\t\t\t\t\"type\": \"contacts\",             \n\t\t\t\t\"contacts\": [ \n\t\t\t\t{  \n\t\t\t\t\t \"addresses\": [ \n\t\t\t\t\t\t{ \n\t\t\t\t\t\t\t\"city\":\"Menlo Park\", \n\t\t\t\t\t\t\t\"country\":\"United States\", \n\t\t\t\t\t\t\t\"country_code\":\"us\", \n\t\t\t\t\t\t\t\"state\":\"CA\", \n\t\t\t\t\t\t\t\"street\":\"1 Hacker Way\", \n\t\t\t\t\t\t\t\"type\":\"HOME\", \n\t\t\t\t\t\t\t\"zip\":\"94025\" \n\t\t\t\t\t\t},\n\t\t\t\t\t\t{ \n\t\t\t\t\t\t\t\"city\":\"Menlo Park\", \n\t\t\t\t\t\t\t\"country\":\"United States\", \n\t\t\t\t\t\t\t\"country_code\":\"us\", \n\t\t\t\t\t\t\t\"state\":\"CA\", \n\t\t\t\t\t\t\t\"street\":\"200 Jefferson Dr\", \n\t\t\t\t\t\t\t\"type\":\"WORK\", \n\t\t\t\t\t\t\t\"zip\":\"94025\" \n\t\t\t\t\t\t} \n\t\t\t\t\t],             \n\t\t\t\t\t \"birthday\": \"2012-08-18\",      \n\t\t\t\t\t \"emails\": [ \n\t\t\t\t\t\t{ \n\t\t\t\t\t\t\t\"email\":\"test@fb.com\", \n\t\t\t\t\t\t\t\"type\":\"WORK\" \n\t\t\t\t\t\t}, \n\t\t\t\t\t\t{ \n\t\t\t\t\t\t\t\"email\":\"test@whatsapp.com\", \n\t\t\t\t\t\t\t\"type\":\"WORK\" \n\t\t\t\t\t\t} \n\t\t\t\t\t], \n\t\t\t\t\t \"name\": { \n\t\t\t\t\t\t\"first_name\":\"John\", \n\t\t\t\t\t\t\"formatted_name\":\"John Smith\", \n\t\t\t\t\t\t\"last_name\":\"Smith\" \n\t\t\t\t\t}, \n\t\t\t\t\t \"org\": { \n\t\t\t\t\t\t\"company\":\"WhatsApp\", \n\t\t\t\t\t\t\"department\":\"Design\", \n\t\t\t\t\t\t\"title\":\"Manager\" \n\t\t\t\t\t},  \n\t\t\t\t\t \"phones\": [ \n\t\t\t\t\t\t{ \n\t\t\t\t\t\t\t\"phone\":\"+1 (940) 555-1234\", \n\t\t\t\t\t\t\t\"type\":\"HOME\" \n\t\t\t\t\t\t},{ \n\t\t\t\t\t\t\t\"phone\":\"+1 (650) 555-1234\", \n\t\t\t\t\t\t\t\"type\":\"WORK\", \n\t\t\t\t\t\t\t\"wa_id\":\"16505551234\" \n\t\t\t\t\t\t} \n\t\t\t\t\t], \n\t\t\t\t\t \"urls\": [ \n\t\t\t\t\t\t{ \n\t\t\t\t\t\t\t\"url\":\"https://www.facebook.com\", \n\t\t\t\t\t\t\t\"type\":\"WORK\" \n\t\t\t\t\t\t} \n\t\t\t\t\t]           \n\t\t\t\t},\n\t\t\t\t{  \n\t\t\t\t\t \"addresses\": [ \n\t\t\t\t\t\t{ \n\t\t\t\t\t\t\t\"city\":\"Menlo Park\", \n\t\t\t\t\t\t\t\"country\":\"United States\", \n\t\t\t\t\t\t\t\"country_code\":\"us\", \n\t\t\t\t\t\t\t\"state\":\"CA\", \n\t\t\t\t\t\t\t\"street\":\"1 Hacker Way\", \n\t\t\t\t\t\t\t\"type\":\"HOME\", \n\t\t\t\t\t\t\t\"zip\":\"94025\" \n\t\t\t\t\t\t},\n\t\t\t\t\t\t{ \n\t\t\t\t\t\t\t\"city\":\"Menlo Park\", \n\t\t\t\t\t\t\t\"country\":\"United States\", \n\t\t\t\t\t\t\t\"country_code\":\"us\", \n\t\t\t\t\t\t\t\"state\":\"CA\", \n\t\t\t\t\t\t\t\"street\":\"200 Jefferson Dr\", \n\t\t\t\t\t\t\t\"type\":\"WORK\", \n\t\t\t\t\t\t\t\"zip\":\"94025\" \n\t\t\t\t\t\t} \n\t\t\t\t\t],             \n\t\t\t\t\t \"birthday\": \"2012-08-18\",      \n\t\t\t\t\t \"emails\": [ \n\t\t\t\t\t\t{ \n\t\t\t\t\t\t\t\"email\":\"test@fb.com\", \n\t\t\t\t\t\t\t\"type\":\"WORK\" \n\t\t\t\t\t\t}, \n\t\t\t\t\t\t{ \n\t\t\t\t\t\t\t\"email\":\"test@whatsapp.com\", \n\t\t\t\t\t\t\t\"type\":\"WORK\" \n\t\t\t\t\t\t} \n\t\t\t\t\t], \n\t\t\t\t\t \"name\": { \n\t\t\t\t\t\t\"first_name\":\"Paul\", \n\t\t\t\t\t\t\"formatted_name\":\"Paul Smith\", \n\t\t\t\t\t\t\"last_name\":\"Smith\" \n\t\t\t\t\t}, \n\t\t\t\t\t \"org\": { \n\t\t\t\t\t\t\"company\":\"WhatsApp\", \n\t\t\t\t\t\t\"department\":\"Design\", \n\t\t\t\t\t\t\"title\":\"Manager\" \n\t\t\t\t\t},  \n\t\t\t\t\t \"phones\": [ \n\t\t\t\t\t\t{ \n\t\t\t\t\t\t\t\"phone\":\"+1 (940) 555-1234\", \n\t\t\t\t\t\t\t\"type\":\"HOME\" \n\t\t\t\t\t\t},{ \n\t\t\t\t\t\t\t\"phone\":\"+1 (650) 555-1234\", \n\t\t\t\t\t\t\t\"type\":\"WORK\", \n\t\t\t\t\t\t\t\"wa_id\":\"16505551234\" \n\t\t\t\t\t\t} \n\t\t\t\t\t], \n\t\t\t\t\t \"urls\": [ \n\t\t\t\t\t\t{ \n\t\t\t\t\t\t\t\"url\":\"https://www.facebook.com\", \n\t\t\t\t\t\t\t\"type\":\"WORK\" \n\t\t\t\t\t\t} \n\t\t\t\t\t]           \n\t\t\t}]},            \n\t\t\t\"options\": {            \n\t\t\t\t\"sender\": \"{{whatsAppSender}}\"            \n\t\t\t}        \n\t\t} \n\t} \n] </code></pre></div> <h2>Location messages</h2><p>Location messages allow you to send a location's latitude and longitude coordinates to a WhatsApp user.</p><div class=\"sc-iMTnTL fJRIzN\"><h5 class=\"sc-dAlyuH sc-hwdzOV hNlDMA hjazRA\">Example</h5><svg class=\"sc-cwHptR kNXOKB showHide\" version=\"1.1\" viewBox=\"0 0 24 24\" x=\"0\" xmlns=\"http://www.w3.org/2000/svg\" y=\"0\" aria-hidden=\"true\"><polygon points=\"17.3 8.3 12 13.6 6.7 8.3 5.3 9.7 12 16.4 18.7 9.7 \"/></svg></div><div><pre><code>[\n\t{         \n\t\t\"recipient\": \"{{msisdn}}\",        \n\t\t\"content\": {            \n\t\t\t\"media\": {            \n\t\t\t\t\"type\": \"location\",             \n\t\t\t\t\"location\": {             \n\t\t\t\t\t \"longitude\": 18.0739497 \n\t\t\t\t\t \"latitude\": 59.3120499    \n\t\t\t\t\t \"name\": \"Linkmobility Stockholm, Sweden\"    \n\t\t\t\t\t \"address\": \"G\u00f6tgatan 78, Stockholm, Sverige\"      \n\t\t\t\t}            \n\t\t\t},            \n\t\t\t\"options\": {            \n\t\t\t\t\"sender\": \"{{whatsAppSender}}\"            \n\t\t\t}        \n\t\t}, \n\t\t\"callback\": {            \n\t\t\t\"mode\": \"URL\",            \n\t\t\t\"urls\": [                 \n\t\t\t\t\"https://webhook.site/4d253417-0cb7-44b8-9468-268bbf2ef2a4\"                 \n\t\t\t],              \n\t\t\t\"ttl\": 0       \n\t\t} \n\t } \n] </code></pre></div><h2>Template messages</h2><p>A predefined message used to initiate conversations. The templates are registered andapproved in the Facebook Business Manager. Templates are used to send campaigns to end users. You can see how to manage templates in the <a href=\"documentation/whatsapp#tag/Manage-templates\">section below.</a> </p><div class=\"sc-iMTnTL fJRIzN\"><h5 class=\"sc-dAlyuH sc-hwdzOV hNlDMA hjazRA\">Example text template</h5><svg class=\"sc-cwHptR kNXOKB showHide\" version=\"1.1\" viewBox=\"0 0 24 24\" x=\"0\" xmlns=\"http://www.w3.org/2000/svg\" y=\"0\" aria-hidden=\"true\"><polygon points=\"17.3 8.3 12 13.6 6.7 8.3 5.3 9.7 12 16.4 18.7 9.7 \"/></svg><div><pre><code>[\n\t{         \n\t\t\"recipient\": \"{{msisdn}}\",        \n\t\t\"content\": {            \n\t\t\t\"media\": {            \n\t\t\t\t\"type\": \"template\",             \n\t\t\t\t\"template\": {             \n\t\t\t\t\t \"name\": \"test_template\",    \n\t\t\t\t\t \"language\":{ \n\t\t\t\t\t\t \"code\" : \"en\"\n\t\t\t\t\t},   \n\t\t\t\t\t \"components\":[{ \n\t\t\t\t\t\t \"type\": \"body\", \n\t\t\t\t\t\t \"parameters\": [\n\t\t\t\t\t\t{ \n\t\t\t\t\t\t\t\"type\":\"text\", \n\t\t\t\t\t\t\t\"text\":\"This is a template text message\" \n\t\t\t\t\t\t}] \n\t\t\t\t\t}]       \n\t\t\t\t}            \n\t\t\t},            \n\t\t\t\"options\": {            \n\t\t\t\t\"sender\": \"{{whatsAppSender}}\"            \n\t\t\t}        \n\t\t}        \n\t } \n] </code></pre></div><div class=\"sc-iMTnTL fJRIzN\"><h5 class=\"sc-dAlyuH sc-hwdzOV hNlDMA hjazRA\">Example media template</h5><svg class=\"sc-cwHptR kNXOKB showHide\" version=\"1.1\" viewBox=\"0 0 24 24\" x=\"0\" xmlns=\"http://www.w3.org/2000/svg\" y=\"0\" aria-hidden=\"true\"><polygon points=\"17.3 8.3 12 13.6 6.7 8.3 5.3 9.7 12 16.4 18.7 9.7 \"/></svg><div><pre><code>[\n\t{         \n\t\t\"recipient\": \"{{msisdn}}\",        \n\t\t\"content\": {            \n\t\t\t\"media\": {            \n\t\t\t\t\"type\": \"template\",             \n\t\t\t\t\"template\": {             \n\t\t\t\t\t \"name\": \"test_ticket_template\",    \n\t\t\t\t\t \"language\":{ \n\t\t\t\t\t\t \"code\" : \"en\"\n\t\t\t\t\t},   \n\t\t\t\t\t \"components\":[{ \n\t\t\t\t\t\t \"type\": \"header\", \n\t\t\t\t\t\t \"parameters\": [\n\t\t\t\t\t\t{ \n\t\t\t\t\t\t\t\"type\":\"image\", \n\t\t\t\t\t\t\t\"image\": { \n\t\t\t\t\t\t\t\t\"link\":\"https://i.pinimg.com/originals/8d/53/33/8d53339fee9bb43e7ba5db4a9455d783.jpg\"  \n\t\t\t\t\t\t\t} \n\t\t\t\t\t\t}] \n\t\t\t\t\t}, \n\t\t\t\t\t{ \n\t\t\t\t\t\t \"type\": \"body\", \n\t\t\t\t\t\t \"parameters\": [\n\t\t\t\t\t\t{ \n\t\t\t\t\t\t\t\"type\":\"text\", \n\t\t\t\t\t\t\t\"text\":\"John\" \n\t\t\t\t\t\t},\n\t\t\t\t\t\t{ \n\t\t\t\t\t\t\t\"type\":\"text\", \n\t\t\t\t\t\t\t\"text\":\"Movie night!\" \n\t\t\t\t\t\t},\n\t\t\t\t\t\t{ \n\t\t\t\t\t\t\t\"type\":\"date_time\", \n\t\t\t\t\t\t\t\"date_time\": { \n\t\t\t\t\t\t\t\"fallback_value\": \"July 07, 2025\" \n\t\t\t\t\t\t\t}  \n\t\t\t\t\t\t},\n\t\t\t\t\t\t{ \n\t\t\t\t\t\t\t\"type\":\"text\", \n\t\t\t\t\t\t\t\"text\":\"Cinema nr.1\" \n\t\t\t\t\t\t},\n\t\t\t\t\t\t{ \n\t\t\t\t\t\t\t\"type\":\"currency\", \n\t\t\t\t\t\t\t\"currency\": { \n\t\t\t\t\t\t\t\t\"fallback_value\": \"$10.00\",\n\t\t\t\t\t\t\t\t\"code\": \"USD\", \n\t\t\t\t\t\t\t\t\"amount_1000\": \"1000\"  \n\t\t\t\t\t\t\t}  \n\t\t\t\t\t\t}, ] \n\t\t\t\t\t}]       \n\t\t\t\t}            \n\t\t\t},            \n\t\t\t\"options\": {            \n\t\t\t\t\"sender\": \"{{whatsAppSender}}\"            \n\t\t\t}        \n\t\t}, \n\t\t\"callback\": {            \n\t\t\t\"mode\": \"URL\",            \n\t\t\t\"urls\": [                 \n\t\t\t\t\"https://webhook.site/4479ec41-d6c2-4ae0-8f07-90627b9b0801\"                 \n\t\t\t],              \n\t\t\t\"ttl\": 0       \n\t\t} \n\t }       \n] </code></pre></div><div class=\"sc-iMTnTL fJRIzN\"><h5 class=\"sc-dAlyuH sc-hwdzOV hNlDMA hjazRA\">Example carousel template</h5><svg class=\"sc-cwHptR kNXOKB showHide\" version=\"1.1\" viewBox=\"0 0 24 24\" x=\"0\" xmlns=\"http://www.w3.org/2000/svg\" y=\"0\" aria-hidden=\"true\"><polygon points=\"17.3 8.3 12 13.6 6.7 8.3 5.3 9.7 12 16.4 18.7 9.7 \"/></svg><div><pre><code>[\n\t{         \n\t\t\"recipient\": \"{{msisdn}}\",        \n\t\t\"content\": {            \n\t\t\t\"media\": {            \n\t\t\t\t\"type\": \"template\",             \n\t\t\t\t\"template\": {             \n\t\t\t\t\t \"name\": \"test_carousel_1\",    \n\t\t\t\t\t \"language\":{ \n\t\t\t\t\t\t \"code\" : \"en\"\n\t\t\t\t\t},   \n\t\t\t\t\t \"components\":[{ \n\t\t\t\t\t\t \"type\": \"body\", \n\t\t\t\t\t\t \"parameters\": [\n\t\t\t\t\t\t\t{ \n\t\t\t\t\t\t\t\t\"type\":\"text\", \n\t\t\t\t\t\t\t\t\"text\": \"20OFF\"\n\t\t\t\t\t\t\t}, \n\t\t\t\t\t\t\t{ \n\t\t\t\t\t\t\t\t\"type\":\"text\", \n\t\t\t\t\t\t\t\t\"text\": \"20%\"\n\t\t\t\t\t\t\t}] \n\t\t\t\t\t\t}, \n\t\t\t\t\t\t{ \n\t\t\t\t\t\t \"type\": \"carousel\", \n\t\t\t\t\t\t \"cards\": [\n\t\t\t\t\t\t{ \n\t\t\t\t\t\t\t\"card_index\":0, \n\t\t\t\t\t\t\t\"components\":[{ \n\t\t\t\t\t\t\t\t\"type\": \"header\", \n\t\t\t\t\t\t\t\t\"parameters\": [\n\t\t\t\t\t\t\t\t\t{ \n\t\t\t\t\t\t\t\t\t\t\"type\":\"image\", \n\t\t\t\t\t\t\t\t\t\t\"image\": { \n\t\t\t\t\t\t\t\t\t\t\t\"id\": \"{{imageId}}\" \n\t\t\t\t\t\t\t\t\t\t} \n\t\t\t\t\t\t\t\t\t}] \n\t\t\t\t\t\t\t},\n\t\t\t\t\t\t\t{ \n\t\t\t\t\t\t\t\t\"type\": \"body\", \n\t\t\t\t\t\t\t\t\"parameters\": [\n\t\t\t\t\t\t\t\t\t{ \n\t\t\t\t\t\t\t\t\t\t\"type\":\"text\", \n\t\t\t\t\t\t\t\t\t\t\"text\": \"10OFF\" \n\t\t\t\t\t\t\t\t\t}, \n\t\t\t\t\t\t\t\t\t{ \n\t\t\t\t\t\t\t\t\t\t\"type\":\"text\", \n\t\t\t\t\t\t\t\t\t\t\"text\": \"10%\" \n\t\t\t\t\t\t\t\t\t}] \n\t\t\t\t\t\t\t},\n\t\t\t\t\t\t\t{ \n\t\t\t\t\t\t\t\t\"type\": \"button\", \n\t\t\t\t\t\t\t\t\"sub_type\": \"quick_reply\", \n\t\t\t\t\t\t\t\t\"index\": 0, \n\t\t\t\t\t\t\t\t\"parameters\": [\n\t\t\t\t\t\t\t\t\t{ \n\t\t\t\t\t\t\t\t\t\t\"type\":\"payload\", \n\t\t\t\t\t\t\t\t\t\t\"payload\": \"59NqSd\" \n\t\t\t\t\t\t\t\t\t}] \n\t\t\t\t\t\t\t},\n\t\t\t\t\t\t\t{ \n\t\t\t\t\t\t\t\t\"type\": \"button\", \n\t\t\t\t\t\t\t\t\"sub_type\": \"url\", \n\t\t\t\t\t\t\t\t\"index\": 1, \n\t\t\t\t\t\t\t\t\"parameters\": [\n\t\t\t\t\t\t\t\t\t{ \n\t\t\t\t\t\t\t\t\t\t\"type\":\"payload\", \n\t\t\t\t\t\t\t\t\t\t\"payload\": \"last_chance_2023\" \n\t\t\t\t\t\t\t\t\t}] \n\t\t\t\t\t\t\t} \n\t\t\t\t\t\t] \n\t\t\t\t\t}, \n\t\t\t\t\t\t{ \n\t\t\t\t\t\t\t\"card_index\":1, \n\t\t\t\t\t\t\t\"components\":[{ \n\t\t\t\t\t\t\t\t\"type\": \"header\", \n\t\t\t\t\t\t\t\t\"parameters\": [\n\t\t\t\t\t\t\t\t\t{ \n\t\t\t\t\t\t\t\t\t\t\"type\":\"image\", \n\t\t\t\t\t\t\t\t\t\t\"image\": { \n\t\t\t\t\t\t\t\t\t\t\t\"id\": \"{{imageId}}\" \n\t\t\t\t\t\t\t\t\t\t} \n\t\t\t\t\t\t\t\t\t}] \n\t\t\t\t\t\t\t},\n\t\t\t\t\t\t\t{ \n\t\t\t\t\t\t\t\t\"type\": \"body\", \n\t\t\t\t\t\t\t\t\"parameters\": [\n\t\t\t\t\t\t\t\t\t{ \n\t\t\t\t\t\t\t\t\t\t\"type\":\"text\", \n\t\t\t\t\t\t\t\t\t\t\"text\": \"30OFFFFFF\" \n\t\t\t\t\t\t\t\t\t}, \n\t\t\t\t\t\t\t\t\t{ \n\t\t\t\t\t\t\t\t\t\t\"type\":\"text\", \n\t\t\t\t\t\t\t\t\t\t\"text\": \"30%\" \n\t\t\t\t\t\t\t\t\t}] \n\t\t\t\t\t\t\t},\n\t\t\t\t\t\t\t{ \n\t\t\t\t\t\t\t\t\"type\": \"button\", \n\t\t\t\t\t\t\t\t\"sub_type\": \"quick_reply\", \n\t\t\t\t\t\t\t\t\"index\": 0, \n\t\t\t\t\t\t\t\t\"parameters\": [\n\t\t\t\t\t\t\t\t\t{ \n\t\t\t\t\t\t\t\t\t\t\"type\":\"payload\", \n\t\t\t\t\t\t\t\t\t\t\"payload\": \"7C4xhY\" \n\t\t\t\t\t\t\t\t\t}] \n\t\t\t\t\t\t\t},\n\t\t\t\t\t\t\t{ \n\t\t\t\t\t\t\t\t\"type\": \"button\", \n\t\t\t\t\t\t\t\t\"sub_type\": \"url\", \n\t\t\t\t\t\t\t\t\"index\": 1, \n\t\t\t\t\t\t\t\t\"parameters\": [\n\t\t\t\t\t\t\t\t\t{ \n\t\t\t\t\t\t\t\t\t\t\"type\":\"payload\", \n\t\t\t\t\t\t\t\t\t\t\"payload\": \"summer_blues_2023\" \n\t\t\t\t\t\t\t\t\t} \n\t\t\t\t\t\t\t\t] \n\t\t\t\t\t\t\t} \n\t\t\t\t\t\t] \n\t\t\t\t\t} \n\t\t\t\t] \n\t\t\t} ] } },        \n\t\t\t\"options\": {            \n\t\t\t\t\"sender\": \"{{whatsAppSender}}\"            \n\t\t\t}        \n\t\t}, \n\t\t\"callback\": {            \n\t\t\t\"mode\": \"URL\",            \n\t\t\t\"urls\": [                 \n\t\t\t\t\"https://webhook.site/57f51149-2b2c-4967-a0bc-9a7bfd37f385\"                 \n\t\t\t],              \n\t\t\t\"ttl\": 0       \n\t\t} \n\t }       \n] </code></pre></div><div class=\"sc-iMTnTL fJRIzN\"><h5 class=\"sc-dAlyuH sc-hwdzOV hNlDMA hjazRA\">Example catalog template</h5><svg class=\"sc-cwHptR kNXOKB showHide\" version=\"1.1\" viewBox=\"0 0 24 24\" x=\"0\" xmlns=\"http://www.w3.org/2000/svg\" y=\"0\" aria-hidden=\"true\"><polygon points=\"17.3 8.3 12 13.6 6.7 8.3 5.3 9.7 12 16.4 18.7 9.7 \"/></svg><div><pre><code>[\n\t{         \n\t\t\"recipient\": \"{{msisdn}}\",        \n\t\t\"content\": {            \n\t\t\t\"media\": {            \n\t\t\t\t\"type\": \"template\",             \n\t\t\t\t\"template\": {             \n\t\t\t\t\t \"name\": \"test_mpm_template2\",    \n\t\t\t\t\t \"language\":{ \n\t\t\t\t\t\t \"policy\" : \"deterministic\"\n\t\t\t\t\t, \n\t\t\t\t\t\t \"code\" : \"en\"\n\t\t\t\t\t},   \n\t\t\t\t\t \"components\":[ \n\t\t\t\t\t{ \n\t\t\t\t\t\t\"type\": \"body\", \n\t\t\t\t\t\t\"parameters\": [\n\t\t\t\t\t\t{ \n\t\t\t\t\t\t\t\"type\":\"text\", \n\t\t\t\t\t\t\t\"text\":\"John\" \n\t\t\t\t\t\t}] \n\t\t\t\t\t}, \n\t\t\t\t\t{ \n\t\t\t\t\t\t\"type\":\"button\", \n\t\t\t\t\t\t\"sub_type\":\"mpm\",\n\t\t\t\t\t\t\"index\":0, \n\t\t\t\t\t\t\"parameters\": [\n\t\t\t\t\t\t{ \n\t\t\t\t\t\t\t\"type\":\"action\", \n\t\t\t\t\t\t\t\"action\": { \n\t\t\t\t\t\t\t\"thumbnail_product_retailer_id\": \"SKU777\", \n\t\t\t\t\t\t\t\"sections\":[ \n\t\t\t\t\t\t\t\t{ \n\t\t\t\t\t\t\t\t\t\"title\": \"Select a Product\", \n\t\t\t\t\t\t\t\t\t\"product_items\": [ \n\t\t\t\t\t\t\t\t\t\t{ \n\t\t\t\t\t\t\t\t\t\t\t\"product_retailer_id\" : \"SKU777\" \n\t\t\t\t\t\t\t\t\t\t}, \n\t\t\t\t\t\t\t\t\t\t{ \n\t\t\t\t\t\t\t\t\t\t\t\"product_retailer_id\" : \"SKU888\" \n\t\t\t\t\t\t\t\t\t\t},  \n\t\t\t\t\t\t\t\t\t\t{ \n\t\t\t\t\t\t\t\t\t\t\t\"product_retailer_id\" : \"SKU999\" \n\t\t\t\t\t\t\t\t\t\t}  \n\t\t\t\t\t\t\t\t\t] \n\t\t\t\t\t\t\t\t} \n\t\t\t\t\t\t\t]  \n\t\t\t\t\t\t} \n\t\t\t\t\t}]  \n\t\t\t\t} \n\t\t\t]}},  \n\t\t\t\"options\": {            \n\t\t\t\t\"sender\": \"{{whatsAppSender}}\"            \n\t\t\t}        \n\t\t}  \n\t }  \n] </code></pre></div><div class=\"sc-iMTnTL fJRIzN\"><h5 class=\"sc-dAlyuH sc-hwdzOV hNlDMA hjazRA\">Example coupon code template</h5><svg class=\"sc-cwHptR kNXOKB showHide\" version=\"1.1\" viewBox=\"0 0 24 24\" x=\"0\" xmlns=\"http://www.w3.org/2000/svg\" y=\"0\" aria-hidden=\"true\"><polygon points=\"17.3 8.3 12 13.6 6.7 8.3 5.3 9.7 12 16.4 18.7 9.7 \"/></svg><div><pre><code>[\n\t{         \n\t\t\"recipient\": \"{{msisdn}}\",        \n\t\t\"content\": {            \n\t\t\t\"media\": {            \n\t\t\t\t\"type\": \"template\",             \n\t\t\t\t\"template\": {             \n\t\t\t\t\t \"name\": \"coupon_code_template\",    \n\t\t\t\t\t \"language\":{ \n\t\t\t\t\t\t \"code\" : \"en\"\n\t\t\t\t\t},   \n\t\t\t\t\t \"components\":[ \n\t\t\t\t\t{ \n\t\t\t\t\t\t\"type\": \"body\", \n\t\t\t\t\t\t\"parameters\": [\n\t\t\t\t\t\t{ \n\t\t\t\t\t\t\t\"type\":\"text\", \n\t\t\t\t\t\t\t\"text\":\"25OFF\" \n\t\t\t\t\t\t}] \n\t\t\t\t\t},\n\t\t\t\t\t { \n\t\t\t\t\t\t\"type\":\"button\", \n\t\t\t\t\t\t\"sub_type\":\"url\",\n\t\t\t\t\t\t\"index\":0, \n\t\t\t\t\t\t\"parameters\": [\n\t\t\t\t\t\t{ \n\t\t\t\t\t\t\t\"type\":\"text\", \n\t\t\t\t\t\t\t\"text\":\"12345\" \n\t\t\t\t\t\t}] \n\t\t\t\t\t},\n\t\t\t\t\t { \n\t\t\t\t\t\t\"type\":\"button\", \n\t\t\t\t\t\t\"sub_type\":\"copy_code\",\n\t\t\t\t\t\t\"index\":1, \n\t\t\t\t\t\t\"parameters\": [\n\t\t\t\t\t\t{ \n\t\t\t\t\t\t\t\"type\":\"coupon_code\", \n\t\t\t\t\t\t\t\"coupon_code\":\"25OFF\" \n\t\t\t\t\t\t}] \n\t\t\t\t\t} \n\t\t\t\t]} \n\t\t\t},            \n\t\t\t\"options\": {            \n\t\t\t\t\"sender\": \"{{whatsAppSender}}\"            \n\t\t\t}        \n\t\t}  \n\t }       \n] </code></pre></div><div class=\"sc-iMTnTL fJRIzN\"><h5 class=\"sc-dAlyuH sc-hwdzOV hNlDMA hjazRA\">Example LTO template</h5><svg class=\"sc-cwHptR kNXOKB showHide\" version=\"1.1\" viewBox=\"0 0 24 24\" x=\"0\" xmlns=\"http://www.w3.org/2000/svg\" y=\"0\" aria-hidden=\"true\"><polygon points=\"17.3 8.3 12 13.6 6.7 8.3 5.3 9.7 12 16.4 18.7 9.7 \"/></svg><div><pre><code>[\n\t{         \n\t\t\"recipient\": \"{{msisdn}}\",        \n\t\t\"content\": {            \n\t\t\t\"media\": {            \n\t\t\t\t\"type\": \"template\",             \n\t\t\t\t\"template\": {             \n\t\t\t\t\t \"name\": \"test_lto_1\",    \n\t\t\t\t\t \"language\":{ \n\t\t\t\t\t\t \"code\" : \"en\"\n\t\t\t\t\t},   \n\t\t\t\t\t \"components\":[ \n\t\t\t\t\t{ \n\t\t\t\t\t\t\"type\": \"body\", \n\t\t\t\t\t\t\"parameters\": [\n\t\t\t\t\t\t{ \n\t\t\t\t\t\t\t\"type\":\"text\", \n\t\t\t\t\t\t\t\"text\":\"John\" \n\t\t\t\t\t\t}, \n\t\t\t\t\t\t{ \n\t\t\t\t\t\t\t\"type\":\"text\", \n\t\t\t\t\t\t\t\"text\":\"CARIBE25\" \n\t\t\t\t\t\t}] \n\t\t\t\t\t},\n\t\t\t\t\t { \n\t\t\t\t\t\t\"type\":\"limited_time_offer\", \n\t\t\t\t\t\t\"parameters\": [\n\t\t\t\t\t\t{ \n\t\t\t\t\t\t\t\"type\":\"limited_time_offer\", \n\t\t\t\t\t\t\t\"limited_time_offer\": { \n\t\t\t\t\t\t\t\t\t\"expiration_time_ms\": 1739110818000 \n\t\t\t\t\t\t\t\t} \n\t\t\t\t\t\t}] \n\t\t\t\t\t},\n\t\t\t\t\t{ \n\t\t\t\t\t\t\"type\":\"button\", \n\t\t\t\t\t\t\"sub_type\":\"copy_code\",\n\t\t\t\t\t\t\"index\":0, \n\t\t\t\t\t\t\"parameters\": [\n\t\t\t\t\t\t{ \n\t\t\t\t\t\t\t\"type\":\"coupon_code\", \n\t\t\t\t\t\t\t\"coupon_code\":\"CARIBE25\" \n\t\t\t\t\t\t}] \n\t\t\t\t\t}, \n\t\t\t\t\t{ \n\t\t\t\t\t\t\"type\":\"button\", \n\t\t\t\t\t\t\"sub_type\":\"url\",\n\t\t\t\t\t\t\"index\":1, \n\t\t\t\t\t\t\"parameters\": [\n\t\t\t\t\t\t{ \n\t\t\t\t\t\t\t\"type\":\"text\", \n\t\t\t\t\t\t\t\"text\":\"n3mtql\" \n\t\t\t\t\t\t}] \n\t\t\t\t\t} \n\t\t\t\t]} \n\t\t\t},            \n\t\t\t\"options\": {            \n\t\t\t\t\"sender\": \"{{whatsAppSender}}\"            \n\t\t\t}        \n\t\t}, \n\t\t\"callback\": {            \n\t\t\t\"mode\": \"URL\",            \n\t\t\t\"urls\": [                 \n\t\t\t\t\"https://webhook.site/373114a2-fbbb-47cf-b1b1-31c2eda34612\"                 \n\t\t\t],              \n\t\t\t\"ttl\": 0       \n\t\t} \n\t }           \n] </code></pre></div>"
    },
    {
      "name": "Manage templates",
      "description": "<h2>Template messages </h2><p>WhatsApp message templates are predefined formats that businesses use to send notifications or customer service messages to users who have opted in. These messages can cover topics such as appointment reminders, shipping details, issue resolution, or payment updates. </p><p>Before sending a template message, you need to create a template. Please view how to do this via API in our Template management section or login to your Whatsapp business manager and use the Create template button. <p>You can see guidelines on how to create a template if the official Meta documentation here: <a href=\"https://www.facebook.com/business/help/2055875911147364?id=2129163877102343\">https://www.facebook.com/business/help/2055875911147364?id=2129163877102343</a></p><p>You can send the following message types: <ul style=\"list-style:disc inside;\"><li>Text-based message templates</li><li>Media-based message templates<ul style=\"list-style:circle;\"><li>Image</li><li>Audio</li><li>Video</li><li>Document</li><li>Sticker</li></ul></li><li>Interactive message templates</li><li>Location-based message templates</li><li>Authentication message templates</li></ul></p>"
    },
    {
      "name": "Media upload",
      "description": "<p>You can use the Media Upload API to securely upload media files to Meta in encrypted format. Once uploaded, the API returns a media ID, which you can then use to send media in campaigns or when replying to messages from end-user All media files sent through this endpoint are encrypted and persist for 30 days, unless they are deleted earlier.You can upload the following formats below</p><h2>Audio</h2><table><tr>\t<th>Audio</th>\t<th>Extension</th>\t<th>MIME Type</th>\t<th>Max Size</th></tr><tr>\t<td>AAC</td>\t<td>.aac</td>\t<td>audio/aac</td>\t<td>16 MB</td></tr><tr>\t<td>AMR</td>\t<td>.amr</td>\t<td>audio/amr</td>\t<td>16 MB</td></tr><tr>\t<td>MP3</td>\t<td>.mp3</td>\t<td>audio/mpeg</td>\t<td>16 MB</td></tr><tr>\t<td>MP4 Audio</td>\t<td>.m4a</td>\t<td>audio/mp4</td>\t<td>16 MB</td></tr><tr>\t<td>OGG Audio</td>\t<td>.ogg</td>\t<td>audio/ogg (OPUS codecs only; base audio/ogg not supported; mono input only)</td>\t<td>16 MB</td></tr></table><h2>Document</h2><table><tr>\t<th>Document Type</th>\t<th>Extension</th>\t<th>MIME Type</th>\t<th>Max Size</th></tr><tr>\t<td>Text</td>\t<td>.txt</td>\t<td>text/plain</td>\t<td>50 MB</td></tr><tr>\t<td>Microsoft Excel</td>\t<td>.xls</td>\t<td>application/vnd.ms-excel</td>\t<td>50 MB</td></tr><tr>\t<td>Microsoft Excel</td>\t<td>.xlsx</td>\t<td>application/vnd.openxmlformats-officedocument.spreadsheetml.sheet</td>\t<td>50 MB</td></tr><tr>\t<td>Microsoft Word</td>\t<td>.doc</td>\t<td>application/msword</td>\t<td>50 MB</td></tr><tr>\t<td>Microsoft Word</td>\t<td>.docx</td>\t<td>application/vnd.openxmlformats-officedocument.wordprocessingml.document</td>\t<td>50 MB</td></tr><tr>\t<td>Microsoft PowerPoint</td>\t<td>.ppt</td>\t<td>application/vnd.ms-powerpoint</td>\t<td>50 MB</td></tr><tr>\t<td>Microsoft PowerPoint</td>\t<td>.pptx</td>\t<td>application/vnd.openxmlformats-officedocument.presentationml.presentation</td>\t<td>50 MB</td></tr><tr>\t<td>PDF</td>\t<td>.pdf</td>\t<td>application/pdf</td>\t<td>50 MB</td></tr></table><h2>Image</h2><p>Images must be 8-bit, RGB or RGBA.</p><table><tr>\t<th>Image Type</th>\t<th>Extension</th>\t<th>MIME Type</th>\t<th>Max Size</th></tr><tr>\t<td>JPEG</td>\t<td>.jpeg</td>\t<td>text/jpeg</td>\t<td>5 MB</td></tr><tr>\t<td>PNG</td>\t<td>.png</td>\t<td>image/png</td>\t<td>5 MB</td></tr></table><h2>Sticker</h2><p>WebP images can only be sent in <a href=\"https://developers.facebook.com/docs/whatsapp/cloud-api/messages/sticker-messages\">sticker messages.</a></p><table><tr>\t<th>Sticker Type</th>\t<th>Extension</th>\t<th>MIME Type</th>\t<th>Max Size</th></tr><tr>\t<td>Animated sticker</td>\t<td>.webp</td>\t<td>image/webp</td>\t<td>500 KB</td></tr><tr>\t<td>Static sticker</td>\t<td>.webp</td>\t<td>image/webp</td>\t<td>100 KB</td></tr></table><h2>Video</h2><p>Only H.264 video codec and AAC audio codec supported. Single audio stream or no audio stream only.</p><table><tr>\t<th>Video Type</th>\t<th>Extension</th>\t<th>MIME Type</th>\t<th>Max Size</th></tr><tr>\t<td>3GPP</td>\t<td>.3gp</td>\t<td>video/3gpp</td>\t<td>16 MB</td></tr><tr>\t<td>MP4 Video</td>\t<td>.mp4</td>\t<td>video/mp4</td>\t<td>16 MB</td></tr></table>"
    },
    {
      "name": "Receive messages"
    }
  ],
  "x-tagGroups": [
    {
      "name": "MyLINK WhatsApp API",
      "tags": [
        "Send messages",
        "Media upload",
        "Manage templates",
        "Receive messages"
      ]
    }
  ],
  "paths": {
    "/whatsapp/v2/messages": {
      "post": {
        "tags": [
          "Send messages"
        ],
        "summary": "/whatsapp/v2/messages",
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "type": "array",
                "items": {
                  "$ref": "#/components/schemas/MessageRequest"
                }
              }
            }
          }
        },
        "responses": {
          "202": {
            "description": "Accepted",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/MessageResponse"
                }
              }
            }
          },
          "400": {
            "description": "Bad Request",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "403": {
            "description": "Forbidden",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "429": {
            "description": "Too Many Requests",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "500": {
            "description": "Server Error",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "502": {
            "description": "Server Error",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          }
        },
        "x-codeSamples": [
          {
            "lang": "Python",
            "source": "import http.client\n\nconn = http.client.HTTPConnection(\"undefinedundefined\")\n\npayload = \"[{\\\"recipient\\\":\\\"string\\\",\\\"content\\\":{\\\"media\\\":{\\\"text\\\":{\\\"preview_url\\\":true,\\\"body\\\":\\\"string\\\"},\\\"type\\\":\\\"text\\\"},\\\"options\\\":{\\\"sender\\\":\\\"string\\\"}},\\\"expiration\\\":{\\\"relative\\\":1,\\\"absolute\\\":\\\"2019-08-24T14:15:22Z\\\"},\\\"callback\\\":{\\\"mode\\\":\\\"Profile\\\",\\\"urls\\\":[\\\"string\\\"],\\\"gateId\\\":\\\"string\\\",\\\"ttl\\\":28800000},\\\"priority\\\":\\\"Low\\\",\\\"referenceId\\\":\\\"string\\\"}]\"\n\nheaders = {\n    'content-type': \"application/json\",\n    'Authorization': \"Bearer REPLACE_BEARER_TOKEN\"\n    }\n\nconn.request(\"POST\", \"/whatsapp/v2/messages\", payload, headers)\n\nres = conn.getresponse()\ndata = res.read()\n\nprint(data.decode(\"utf-8\"))"
          },
          {
            "lang": "C#",
            "source": "var client = new RestClient(\"http://undefinedundefined/whatsapp/v2/messages\");\nvar request = new RestRequest(Method.POST);\nrequest.AddHeader(\"content-type\", \"application/json\");\nrequest.AddHeader(\"Authorization\", \"Bearer REPLACE_BEARER_TOKEN\");\nrequest.AddParameter(\"application/json\", \"[{\\\"recipient\\\":\\\"string\\\",\\\"content\\\":{\\\"media\\\":{\\\"text\\\":{\\\"preview_url\\\":true,\\\"body\\\":\\\"string\\\"},\\\"type\\\":\\\"text\\\"},\\\"options\\\":{\\\"sender\\\":\\\"string\\\"}},\\\"expiration\\\":{\\\"relative\\\":1,\\\"absolute\\\":\\\"2019-08-24T14:15:22Z\\\"},\\\"callback\\\":{\\\"mode\\\":\\\"Profile\\\",\\\"urls\\\":[\\\"string\\\"],\\\"gateId\\\":\\\"string\\\",\\\"ttl\\\":28800000},\\\"priority\\\":\\\"Low\\\",\\\"referenceId\\\":\\\"string\\\"}]\", ParameterType.RequestBody);\nIRestResponse response = client.Execute(request);"
          },
          {
            "lang": "Java",
            "source": "HttpResponse<String> response = Unirest.post(\"http://undefinedundefined/whatsapp/v2/messages\")\n  .header(\"content-type\", \"application/json\")\n  .header(\"Authorization\", \"Bearer REPLACE_BEARER_TOKEN\")\n  .body(\"[{\\\"recipient\\\":\\\"string\\\",\\\"content\\\":{\\\"media\\\":{\\\"text\\\":{\\\"preview_url\\\":true,\\\"body\\\":\\\"string\\\"},\\\"type\\\":\\\"text\\\"},\\\"options\\\":{\\\"sender\\\":\\\"string\\\"}},\\\"expiration\\\":{\\\"relative\\\":1,\\\"absolute\\\":\\\"2019-08-24T14:15:22Z\\\"},\\\"callback\\\":{\\\"mode\\\":\\\"Profile\\\",\\\"urls\\\":[\\\"string\\\"],\\\"gateId\\\":\\\"string\\\",\\\"ttl\\\":28800000},\\\"priority\\\":\\\"Low\\\",\\\"referenceId\\\":\\\"string\\\"}]\")\n  .asString();"
          },
          {
            "lang": "Node.js",
            "source": "const http = require(\"http\");\n\nconst options = {\n  \"method\": \"POST\",\n  \"hostname\": \"undefinedundefined\",\n  \"port\": null,\n  \"path\": \"/whatsapp/v2/messages\",\n  \"headers\": {\n    \"content-type\": \"application/json\",\n    \"Authorization\": \"Bearer REPLACE_BEARER_TOKEN\"\n  }\n};\n\nconst req = http.request(options, function (res) {\n  const chunks = [];\n\n  res.on(\"data\", function (chunk) {\n    chunks.push(chunk);\n  });\n\n  res.on(\"end\", function () {\n    const body = Buffer.concat(chunks);\n    console.log(body.toString());\n  });\n});\n\nreq.write(JSON.stringify([\n  {\n    recipient: 'string',\n    content: {\n      media: {text: {preview_url: true, body: 'string'}, type: 'text'},\n      options: {sender: 'string'}\n    },\n    expiration: {relative: 1, absolute: '2019-08-24T14:15:22Z'},\n    callback: {mode: 'Profile', urls: ['string'], gateId: 'string', ttl: 28800000},\n    priority: 'Low',\n    referenceId: 'string'\n  }\n]));\nreq.end();"
          },
          {
            "lang": "Curl",
            "source": "curl --request POST \\\n  --url http://undefinedundefined/whatsapp/v2/messages \\\n  --header 'Authorization: Bearer REPLACE_BEARER_TOKEN' \\\n  --header 'content-type: application/json' \\\n  --data '[{\"recipient\":\"string\",\"content\":{\"media\":{\"text\":{\"preview_url\":true,\"body\":\"string\"},\"type\":\"text\"},\"options\":{\"sender\":\"string\"}},\"expiration\":{\"relative\":1,\"absolute\":\"2019-08-24T14:15:22Z\"},\"callback\":{\"mode\":\"Profile\",\"urls\":[\"string\"],\"gateId\":\"string\",\"ttl\":28800000},\"priority\":\"Low\",\"referenceId\":\"string\"}]'"
          }
        ]
      }
    },
    "/whatsapp/v2/templates": {
      "get": {
        "tags": [
          "Manage templates"
        ],
        "summary": "Retrieve a list of templates",
        "parameters": [
          {
            "name": "sort",
            "in": "query",
            "description": "List of fields used to sort results",
            "schema": {
              "type": "array",
              "items": {
                "type": "string"
              }
            }
          },
          {
            "name": "page",
            "in": "query",
            "description": "Requested page",
            "schema": {
              "type": "integer",
              "format": "int32",
              "default": 1
            }
          },
          {
            "name": "size",
            "in": "query",
            "description": "Number of items per page",
            "schema": {
              "maximum": 100,
              "minimum": 0,
              "type": "integer",
              "format": "int32",
              "default": 25
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Success",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/WhatsAppTemplateGetV2Pagination"
                }
              }
            }
          },
          "400": {
            "description": "Bad Request",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/WhatsAppErrorResponseV2"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/WhatsAppErrorResponseV2"
                }
              }
            }
          },
          "403": {
            "description": "Forbidden",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/WhatsAppErrorResponseV2"
                }
              }
            }
          },
          "429": {
            "description": "Too Many Requests",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/WhatsAppErrorResponseV2"
                }
              }
            }
          },
          "500": {
            "description": "Server Error",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/WhatsAppErrorResponseV2"
                }
              }
            }
          },
          "502": {
            "description": "Server Error",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/WhatsAppErrorResponseV2"
                }
              }
            }
          }
        },
        "x-codeSamples": [
          {
            "lang": "Python",
            "source": "import http.client\n\nconn = http.client.HTTPConnection(\"undefinedundefined\")\n\nheaders = { 'Authorization': \"Bearer REPLACE_BEARER_TOKEN\" }\n\nconn.request(\"GET\", \"/whatsapp/v2/templates?sort=SOME_ARRAY_VALUE&page=SOME_INTEGER_VALUE&size=SOME_INTEGER_VALUE\", headers=headers)\n\nres = conn.getresponse()\ndata = res.read()\n\nprint(data.decode(\"utf-8\"))"
          },
          {
            "lang": "C#",
            "source": "var client = new RestClient(\"http://undefinedundefined/whatsapp/v2/templates?sort=SOME_ARRAY_VALUE&page=SOME_INTEGER_VALUE&size=SOME_INTEGER_VALUE\");\nvar request = new RestRequest(Method.GET);\nrequest.AddHeader(\"Authorization\", \"Bearer REPLACE_BEARER_TOKEN\");\nIRestResponse response = client.Execute(request);"
          },
          {
            "lang": "Java",
            "source": "HttpResponse<String> response = Unirest.get(\"http://undefinedundefined/whatsapp/v2/templates?sort=SOME_ARRAY_VALUE&page=SOME_INTEGER_VALUE&size=SOME_INTEGER_VALUE\")\n  .header(\"Authorization\", \"Bearer REPLACE_BEARER_TOKEN\")\n  .asString();"
          },
          {
            "lang": "Node.js",
            "source": "const http = require(\"http\");\n\nconst options = {\n  \"method\": \"GET\",\n  \"hostname\": \"undefinedundefined\",\n  \"port\": null,\n  \"path\": \"/whatsapp/v2/templates?sort=SOME_ARRAY_VALUE&page=SOME_INTEGER_VALUE&size=SOME_INTEGER_VALUE\",\n  \"headers\": {\n    \"Authorization\": \"Bearer REPLACE_BEARER_TOKEN\"\n  }\n};\n\nconst req = http.request(options, function (res) {\n  const chunks = [];\n\n  res.on(\"data\", function (chunk) {\n    chunks.push(chunk);\n  });\n\n  res.on(\"end\", function () {\n    const body = Buffer.concat(chunks);\n    console.log(body.toString());\n  });\n});\n\nreq.end();"
          },
          {
            "lang": "Curl",
            "source": "curl --request GET \\\n  --url 'http://undefinedundefined/whatsapp/v2/templates?sort=SOME_ARRAY_VALUE&page=SOME_INTEGER_VALUE&size=SOME_INTEGER_VALUE' \\\n  --header 'Authorization: Bearer REPLACE_BEARER_TOKEN'"
          }
        ]
      },
      "post": {
        "tags": [
          "Manage templates"
        ],
        "summary": "Create template",
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/WhatsAppTemplatePostV2"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Success",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/WhatsAppTemplateSummaryV2"
                }
              }
            }
          },
          "400": {
            "description": "Bad Request",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/WhatsAppErrorResponseV2"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/WhatsAppErrorResponseV2"
                }
              }
            }
          },
          "403": {
            "description": "Forbidden",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/WhatsAppErrorResponseV2"
                }
              }
            }
          },
          "429": {
            "description": "Too Many Requests",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/WhatsAppErrorResponseV2"
                }
              }
            }
          },
          "500": {
            "description": "Server Error",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/WhatsAppErrorResponseV2"
                }
              }
            }
          },
          "502": {
            "description": "Server Error",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/WhatsAppErrorResponseV2"
                }
              }
            }
          }
        },
        "x-codeSamples": [
          {
            "lang": "Python",
            "source": "import http.client\n\nconn = http.client.HTTPConnection(\"undefinedundefined\")\n\npayload = \"{\\\"allow_category_change\\\":true,\\\"category\\\":\\\"AUTHENTICATION\\\",\\\"components\\\":[{\\\"type\\\":\\\"GREETING\\\",\\\"format\\\":\\\"TEXT\\\",\\\"text\\\":\\\"string\\\",\\\"buttons\\\":[{\\\"type\\\":\\\"QUICK_REPLY\\\",\\\"text\\\":\\\"string\\\",\\\"url\\\":\\\"string\\\",\\\"phone_number\\\":\\\"string\\\",\\\"examples\\\":[\\\"string\\\"],\\\"flow_id\\\":0,\\\"zero_tap_terms_accepted\\\":true,\\\"flow_action\\\":\\\"NAVIGATE\\\",\\\"navigate_screen\\\":\\\"string\\\",\\\"supported_apps\\\":[{\\\"package_name\\\":\\\"string\\\",\\\"signature_hash\\\":\\\"string\\\"}]}],\\\"examples\\\":{\\\"header_text\\\":[\\\"string\\\"],\\\"body_text\\\":[[\\\"string\\\"]],\\\"header_handle\\\":[\\\"string\\\"]}}],\\\"language\\\":\\\"af\\\",\\\"library_template_body_inputs\\\":{\\\"add_contact_number\\\":true,\\\"add_learn_more_link\\\":true,\\\"add_security_recommendation\\\":true,\\\"add_track_package_link\\\":true,\\\"code_expiration_minutes\\\":0},\\\"library_template_button_inputs\\\":[{\\\"type\\\":\\\"QUICK_REPLY\\\",\\\"phone_number\\\":\\\"string\\\",\\\"url\\\":{\\\"base_url\\\":\\\"string\\\",\\\"url_suffix_example\\\":\\\"string\\\"},\\\"otp_type\\\":\\\"COPY_CODE\\\",\\\"zero_tap_terms_accepted\\\":true,\\\"supported_apps\\\":[{\\\"package_name\\\":\\\"string\\\",\\\"signature_hash\\\":\\\"string\\\"}]}],\\\"library_template_name\\\":\\\"string\\\",\\\"message_send_ttl_seconds\\\":0,\\\"name\\\":\\\"string\\\",\\\"parameter_format\\\":\\\"NAMED\\\",\\\"sub_category\\\":\\\"ORDER_DETAILS\\\"}\"\n\nheaders = {\n    'content-type': \"application/json\",\n    'Authorization': \"Bearer REPLACE_BEARER_TOKEN\"\n    }\n\nconn.request(\"POST\", \"/whatsapp/v2/templates\", payload, headers)\n\nres = conn.getresponse()\ndata = res.read()\n\nprint(data.decode(\"utf-8\"))"
          },
          {
            "lang": "C#",
            "source": "var client = new RestClient(\"http://undefinedundefined/whatsapp/v2/templates\");\nvar request = new RestRequest(Method.POST);\nrequest.AddHeader(\"content-type\", \"application/json\");\nrequest.AddHeader(\"Authorization\", \"Bearer REPLACE_BEARER_TOKEN\");\nrequest.AddParameter(\"application/json\", \"{\\\"allow_category_change\\\":true,\\\"category\\\":\\\"AUTHENTICATION\\\",\\\"components\\\":[{\\\"type\\\":\\\"GREETING\\\",\\\"format\\\":\\\"TEXT\\\",\\\"text\\\":\\\"string\\\",\\\"buttons\\\":[{\\\"type\\\":\\\"QUICK_REPLY\\\",\\\"text\\\":\\\"string\\\",\\\"url\\\":\\\"string\\\",\\\"phone_number\\\":\\\"string\\\",\\\"examples\\\":[\\\"string\\\"],\\\"flow_id\\\":0,\\\"zero_tap_terms_accepted\\\":true,\\\"flow_action\\\":\\\"NAVIGATE\\\",\\\"navigate_screen\\\":\\\"string\\\",\\\"supported_apps\\\":[{\\\"package_name\\\":\\\"string\\\",\\\"signature_hash\\\":\\\"string\\\"}]}],\\\"examples\\\":{\\\"header_text\\\":[\\\"string\\\"],\\\"body_text\\\":[[\\\"string\\\"]],\\\"header_handle\\\":[\\\"string\\\"]}}],\\\"language\\\":\\\"af\\\",\\\"library_template_body_inputs\\\":{\\\"add_contact_number\\\":true,\\\"add_learn_more_link\\\":true,\\\"add_security_recommendation\\\":true,\\\"add_track_package_link\\\":true,\\\"code_expiration_minutes\\\":0},\\\"library_template_button_inputs\\\":[{\\\"type\\\":\\\"QUICK_REPLY\\\",\\\"phone_number\\\":\\\"string\\\",\\\"url\\\":{\\\"base_url\\\":\\\"string\\\",\\\"url_suffix_example\\\":\\\"string\\\"},\\\"otp_type\\\":\\\"COPY_CODE\\\",\\\"zero_tap_terms_accepted\\\":true,\\\"supported_apps\\\":[{\\\"package_name\\\":\\\"string\\\",\\\"signature_hash\\\":\\\"string\\\"}]}],\\\"library_template_name\\\":\\\"string\\\",\\\"message_send_ttl_seconds\\\":0,\\\"name\\\":\\\"string\\\",\\\"parameter_format\\\":\\\"NAMED\\\",\\\"sub_category\\\":\\\"ORDER_DETAILS\\\"}\", ParameterType.RequestBody);\nIRestResponse response = client.Execute(request);"
          },
          {
            "lang": "Java",
            "source": "HttpResponse<String> response = Unirest.post(\"http://undefinedundefined/whatsapp/v2/templates\")\n  .header(\"content-type\", \"application/json\")\n  .header(\"Authorization\", \"Bearer REPLACE_BEARER_TOKEN\")\n  .body(\"{\\\"allow_category_change\\\":true,\\\"category\\\":\\\"AUTHENTICATION\\\",\\\"components\\\":[{\\\"type\\\":\\\"GREETING\\\",\\\"format\\\":\\\"TEXT\\\",\\\"text\\\":\\\"string\\\",\\\"buttons\\\":[{\\\"type\\\":\\\"QUICK_REPLY\\\",\\\"text\\\":\\\"string\\\",\\\"url\\\":\\\"string\\\",\\\"phone_number\\\":\\\"string\\\",\\\"examples\\\":[\\\"string\\\"],\\\"flow_id\\\":0,\\\"zero_tap_terms_accepted\\\":true,\\\"flow_action\\\":\\\"NAVIGATE\\\",\\\"navigate_screen\\\":\\\"string\\\",\\\"supported_apps\\\":[{\\\"package_name\\\":\\\"string\\\",\\\"signature_hash\\\":\\\"string\\\"}]}],\\\"examples\\\":{\\\"header_text\\\":[\\\"string\\\"],\\\"body_text\\\":[[\\\"string\\\"]],\\\"header_handle\\\":[\\\"string\\\"]}}],\\\"language\\\":\\\"af\\\",\\\"library_template_body_inputs\\\":{\\\"add_contact_number\\\":true,\\\"add_learn_more_link\\\":true,\\\"add_security_recommendation\\\":true,\\\"add_track_package_link\\\":true,\\\"code_expiration_minutes\\\":0},\\\"library_template_button_inputs\\\":[{\\\"type\\\":\\\"QUICK_REPLY\\\",\\\"phone_number\\\":\\\"string\\\",\\\"url\\\":{\\\"base_url\\\":\\\"string\\\",\\\"url_suffix_example\\\":\\\"string\\\"},\\\"otp_type\\\":\\\"COPY_CODE\\\",\\\"zero_tap_terms_accepted\\\":true,\\\"supported_apps\\\":[{\\\"package_name\\\":\\\"string\\\",\\\"signature_hash\\\":\\\"string\\\"}]}],\\\"library_template_name\\\":\\\"string\\\",\\\"message_send_ttl_seconds\\\":0,\\\"name\\\":\\\"string\\\",\\\"parameter_format\\\":\\\"NAMED\\\",\\\"sub_category\\\":\\\"ORDER_DETAILS\\\"}\")\n  .asString();"
          },
          {
            "lang": "Node.js",
            "source": "const http = require(\"http\");\n\nconst options = {\n  \"method\": \"POST\",\n  \"hostname\": \"undefinedundefined\",\n  \"port\": null,\n  \"path\": \"/whatsapp/v2/templates\",\n  \"headers\": {\n    \"content-type\": \"application/json\",\n    \"Authorization\": \"Bearer REPLACE_BEARER_TOKEN\"\n  }\n};\n\nconst req = http.request(options, function (res) {\n  const chunks = [];\n\n  res.on(\"data\", function (chunk) {\n    chunks.push(chunk);\n  });\n\n  res.on(\"end\", function () {\n    const body = Buffer.concat(chunks);\n    console.log(body.toString());\n  });\n});\n\nreq.write(JSON.stringify({\n  allow_category_change: true,\n  category: 'AUTHENTICATION',\n  components: [\n    {\n      type: 'GREETING',\n      format: 'TEXT',\n      text: 'string',\n      buttons: [\n        {\n          type: 'QUICK_REPLY',\n          text: 'string',\n          url: 'string',\n          phone_number: 'string',\n          examples: ['string'],\n          flow_id: 0,\n          zero_tap_terms_accepted: true,\n          flow_action: 'NAVIGATE',\n          navigate_screen: 'string',\n          supported_apps: [{package_name: 'string', signature_hash: 'string'}]\n        }\n      ],\n      examples: {header_text: ['string'], body_text: [['string']], header_handle: ['string']}\n    }\n  ],\n  language: 'af',\n  library_template_body_inputs: {\n    add_contact_number: true,\n    add_learn_more_link: true,\n    add_security_recommendation: true,\n    add_track_package_link: true,\n    code_expiration_minutes: 0\n  },\n  library_template_button_inputs: [\n    {\n      type: 'QUICK_REPLY',\n      phone_number: 'string',\n      url: {base_url: 'string', url_suffix_example: 'string'},\n      otp_type: 'COPY_CODE',\n      zero_tap_terms_accepted: true,\n      supported_apps: [{package_name: 'string', signature_hash: 'string'}]\n    }\n  ],\n  library_template_name: 'string',\n  message_send_ttl_seconds: 0,\n  name: 'string',\n  parameter_format: 'NAMED',\n  sub_category: 'ORDER_DETAILS'\n}));\nreq.end();"
          },
          {
            "lang": "Curl",
            "source": "curl --request POST \\\n  --url http://undefinedundefined/whatsapp/v2/templates \\\n  --header 'Authorization: Bearer REPLACE_BEARER_TOKEN' \\\n  --header 'content-type: application/json' \\\n  --data '{\"allow_category_change\":true,\"category\":\"AUTHENTICATION\",\"components\":[{\"type\":\"GREETING\",\"format\":\"TEXT\",\"text\":\"string\",\"buttons\":[{\"type\":\"QUICK_REPLY\",\"text\":\"string\",\"url\":\"string\",\"phone_number\":\"string\",\"examples\":[\"string\"],\"flow_id\":0,\"zero_tap_terms_accepted\":true,\"flow_action\":\"NAVIGATE\",\"navigate_screen\":\"string\",\"supported_apps\":[{\"package_name\":\"string\",\"signature_hash\":\"string\"}]}],\"examples\":{\"header_text\":[\"string\"],\"body_text\":[[\"string\"]],\"header_handle\":[\"string\"]}}],\"language\":\"af\",\"library_template_body_inputs\":{\"add_contact_number\":true,\"add_learn_more_link\":true,\"add_security_recommendation\":true,\"add_track_package_link\":true,\"code_expiration_minutes\":0},\"library_template_button_inputs\":[{\"type\":\"QUICK_REPLY\",\"phone_number\":\"string\",\"url\":{\"base_url\":\"string\",\"url_suffix_example\":\"string\"},\"otp_type\":\"COPY_CODE\",\"zero_tap_terms_accepted\":true,\"supported_apps\":[{\"package_name\":\"string\",\"signature_hash\":\"string\"}]}],\"library_template_name\":\"string\",\"message_send_ttl_seconds\":0,\"name\":\"string\",\"parameter_format\":\"NAMED\",\"sub_category\":\"ORDER_DETAILS\"}'"
          }
        ]
      }
    },
    "/whatsapp/v2/{phoneNumber}/media": {
      "post": {
        "tags": [
          "Media upload"
        ],
        "summary": "/whatsapp/v2/{phoneNumber}/media",
        "parameters": [
          {
            "name": "X-Link-Upload-Filename",
            "in": "header",
            "description": "The uploaded file's name.",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "phoneNumber",
            "in": "path",
            "description": "The sender's phone number. Should start with + sign or its URL-encoded equivalent - %2B | %2b",
            "required": true,
            "schema": {
              "type": "string",
              "pattern": "^(?:\\+|%2[bB])\\d+$"
            },
            "example": "+15551234567 or %2b15551234567 or %2B15551234567"
          }
        ],
        "requestBody": {
          "content": {
            "text/plain": {
              "schema": {
                "type": "string",
                "format": "binary"
              }
            },
            "application/pdf": {
              "schema": {
                "type": "string",
                "format": "binary"
              }
            },
            "application/vnd.ms-powerpoint": {
              "schema": {
                "type": "string",
                "format": "binary"
              }
            },
            "application/msword": {
              "schema": {
                "type": "string",
                "format": "binary"
              }
            },
            "application/vnd.ms-excel": {
              "schema": {
                "type": "string",
                "format": "binary"
              }
            },
            "application/vnd.openxmlformats-officedocument.wordprocessingml.document": {
              "schema": {
                "type": "string",
                "format": "binary"
              }
            },
            "application/vnd.openxmlformats-officedocument.presentationml.presentation": {
              "schema": {
                "type": "string",
                "format": "binary"
              }
            },
            "application/vnd.openxmlformats-officedocument.spreadsheetml.sheet": {
              "schema": {
                "type": "string",
                "format": "binary"
              }
            },
            "image/png": {
              "schema": {
                "type": "string",
                "format": "binary"
              }
            },
            "image/jpeg": {
              "schema": {
                "type": "string",
                "format": "binary"
              }
            },
            "image/webp": {
              "schema": {
                "type": "string",
                "format": "binary"
              }
            },
            "audio/aac": {
              "schema": {
                "type": "string",
                "format": "binary"
              }
            },
            "audio/mp4": {
              "schema": {
                "type": "string",
                "format": "binary"
              }
            },
            "audio/mpeg": {
              "schema": {
                "type": "string",
                "format": "binary"
              }
            },
            "audio/amr": {
              "schema": {
                "type": "string",
                "format": "binary"
              }
            },
            "audio/ogg": {
              "schema": {
                "type": "string",
                "format": "binary"
              }
            },
            "audio/opus": {
              "schema": {
                "type": "string",
                "format": "binary"
              }
            },
            "video/mp4": {
              "schema": {
                "type": "string",
                "format": "binary"
              }
            },
            "video/3gp": {
              "schema": {
                "type": "string",
                "format": "binary"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "text/plain": {
                "schema": {
                  "type": "string",
                  "example": "1455590888989863"
                }
              }
            }
          },
          "400": {
            "description": "Bad Request",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/KongPluginErrorResponse"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized",
            "content": {
              "text/plain": {
                "schema": {
                  "type": "string",
                  "example": "Unauthorized"
                }
              }
            }
          },
          "403": {
            "description": "Forbidden",
            "content": {
              "text/plain": {
                "schema": {
                  "type": "string",
                  "example": "You do not have the correct permissions to access the resource."
                }
              }
            }
          },
          "500": {
            "description": "Server Error",
            "content": {
              "text/plain": {
                "schema": {
                  "type": "string",
                  "example": "The server encountered an internal error and was unable to complete your request."
                }
              }
            }
          }
        },
        "x-codeSamples": [
          {
            "lang": "Python",
            "source": "import http.client\n\nconn = http.client.HTTPConnection(\"undefinedundefined\")\n\nheaders = {\n    'content-type': \"video/3gp\",\n    'X-Link-Upload-Filename': \"SOME_STRING_VALUE\",\n    'Authorization': \"Bearer REPLACE_BEARER_TOKEN\"\n    }\n\nconn.request(\"POST\", \"/whatsapp/v2/%7BphoneNumber%7D/media\", headers=headers)\n\nres = conn.getresponse()\ndata = res.read()\n\nprint(data.decode(\"utf-8\"))"
          },
          {
            "lang": "C#",
            "source": "var client = new RestClient(\"http://undefinedundefined/whatsapp/v2/%7BphoneNumber%7D/media\");\nvar request = new RestRequest(Method.POST);\nrequest.AddHeader(\"content-type\", \"video/3gp\");\nrequest.AddHeader(\"X-Link-Upload-Filename\", \"SOME_STRING_VALUE\");\nrequest.AddHeader(\"Authorization\", \"Bearer REPLACE_BEARER_TOKEN\");\nIRestResponse response = client.Execute(request);"
          },
          {
            "lang": "Java",
            "source": "HttpResponse<String> response = Unirest.post(\"http://undefinedundefined/whatsapp/v2/%7BphoneNumber%7D/media\")\n  .header(\"content-type\", \"video/3gp\")\n  .header(\"X-Link-Upload-Filename\", \"SOME_STRING_VALUE\")\n  .header(\"Authorization\", \"Bearer REPLACE_BEARER_TOKEN\")\n  .asString();"
          },
          {
            "lang": "Node.js",
            "source": "const http = require(\"http\");\n\nconst options = {\n  \"method\": \"POST\",\n  \"hostname\": \"undefinedundefined\",\n  \"port\": null,\n  \"path\": \"/whatsapp/v2/%7BphoneNumber%7D/media\",\n  \"headers\": {\n    \"content-type\": \"video/3gp\",\n    \"X-Link-Upload-Filename\": \"SOME_STRING_VALUE\",\n    \"Authorization\": \"Bearer REPLACE_BEARER_TOKEN\"\n  }\n};\n\nconst req = http.request(options, function (res) {\n  const chunks = [];\n\n  res.on(\"data\", function (chunk) {\n    chunks.push(chunk);\n  });\n\n  res.on(\"end\", function () {\n    const body = Buffer.concat(chunks);\n    console.log(body.toString());\n  });\n});\n\nreq.end();"
          },
          {
            "lang": "Curl",
            "source": "curl --request POST \\\n  --url http://undefinedundefined/whatsapp/v2/%7BphoneNumber%7D/media \\\n  --header 'Authorization: Bearer REPLACE_BEARER_TOKEN' \\\n  --header 'X-Link-Upload-Filename: SOME_STRING_VALUE' \\\n  --header 'content-type: video/3gp'"
          }
        ]
      }
    },
    "/whatsapp/v2/templates/{id}": {
      "get": {
        "tags": [
          "Manage templates"
        ],
        "summary": "Retrieve template",
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string",
              "format": "uuid"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Success",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/WhatsAppTemplateGetV2"
                }
              }
            }
          },
          "400": {
            "description": "Bad Request",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/WhatsAppErrorResponseV2"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/WhatsAppErrorResponseV2"
                }
              }
            }
          },
          "403": {
            "description": "Forbidden",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/WhatsAppErrorResponseV2"
                }
              }
            }
          },
          "429": {
            "description": "Too Many Requests",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/WhatsAppErrorResponseV2"
                }
              }
            }
          },
          "500": {
            "description": "Server Error",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/WhatsAppErrorResponseV2"
                }
              }
            }
          },
          "502": {
            "description": "Server Error",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/WhatsAppErrorResponseV2"
                }
              }
            }
          }
        },
        "x-codeSamples": [
          {
            "lang": "Python",
            "source": "import http.client\n\nconn = http.client.HTTPConnection(\"undefinedundefined\")\n\nheaders = { 'Authorization': \"Bearer REPLACE_BEARER_TOKEN\" }\n\nconn.request(\"GET\", \"/whatsapp/v2/templates/%7Bid%7D\", headers=headers)\n\nres = conn.getresponse()\ndata = res.read()\n\nprint(data.decode(\"utf-8\"))"
          },
          {
            "lang": "C#",
            "source": "var client = new RestClient(\"http://undefinedundefined/whatsapp/v2/templates/%7Bid%7D\");\nvar request = new RestRequest(Method.GET);\nrequest.AddHeader(\"Authorization\", \"Bearer REPLACE_BEARER_TOKEN\");\nIRestResponse response = client.Execute(request);"
          },
          {
            "lang": "Java",
            "source": "HttpResponse<String> response = Unirest.get(\"http://undefinedundefined/whatsapp/v2/templates/%7Bid%7D\")\n  .header(\"Authorization\", \"Bearer REPLACE_BEARER_TOKEN\")\n  .asString();"
          },
          {
            "lang": "Node.js",
            "source": "const http = require(\"http\");\n\nconst options = {\n  \"method\": \"GET\",\n  \"hostname\": \"undefinedundefined\",\n  \"port\": null,\n  \"path\": \"/whatsapp/v2/templates/%7Bid%7D\",\n  \"headers\": {\n    \"Authorization\": \"Bearer REPLACE_BEARER_TOKEN\"\n  }\n};\n\nconst req = http.request(options, function (res) {\n  const chunks = [];\n\n  res.on(\"data\", function (chunk) {\n    chunks.push(chunk);\n  });\n\n  res.on(\"end\", function () {\n    const body = Buffer.concat(chunks);\n    console.log(body.toString());\n  });\n});\n\nreq.end();"
          },
          {
            "lang": "Curl",
            "source": "curl --request GET \\\n  --url http://undefinedundefined/whatsapp/v2/templates/%7Bid%7D \\\n  --header 'Authorization: Bearer REPLACE_BEARER_TOKEN'"
          }
        ]
      },
      "put": {
        "tags": [
          "Manage templates"
        ],
        "summary": "Update template",
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string",
              "format": "uuid"
            }
          }
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/WhatsAppTemplatePutV2"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Success",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/WhatsAppTemplateSummaryV2"
                }
              }
            }
          },
          "400": {
            "description": "Bad Request",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/WhatsAppErrorResponseV2"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/WhatsAppErrorResponseV2"
                }
              }
            }
          },
          "403": {
            "description": "Forbidden",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/WhatsAppErrorResponseV2"
                }
              }
            }
          },
          "429": {
            "description": "Too Many Requests",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/WhatsAppErrorResponseV2"
                }
              }
            }
          },
          "500": {
            "description": "Server Error",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/WhatsAppErrorResponseV2"
                }
              }
            }
          },
          "502": {
            "description": "Server Error",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/WhatsAppErrorResponseV2"
                }
              }
            }
          }
        },
        "x-codeSamples": [
          {
            "lang": "Python",
            "source": "import http.client\n\nconn = http.client.HTTPConnection(\"undefinedundefined\")\n\npayload = \"{\\\"category\\\":\\\"AUTHENTICATION\\\",\\\"components\\\":[{\\\"type\\\":\\\"GREETING\\\",\\\"format\\\":\\\"TEXT\\\",\\\"text\\\":\\\"string\\\",\\\"buttons\\\":[{\\\"type\\\":\\\"QUICK_REPLY\\\",\\\"text\\\":\\\"string\\\",\\\"url\\\":\\\"string\\\",\\\"phone_number\\\":\\\"string\\\",\\\"examples\\\":[\\\"string\\\"],\\\"flow_id\\\":0,\\\"zero_tap_terms_accepted\\\":true,\\\"flow_action\\\":\\\"NAVIGATE\\\",\\\"navigate_screen\\\":\\\"string\\\",\\\"supported_apps\\\":[{\\\"package_name\\\":\\\"string\\\",\\\"signature_hash\\\":\\\"string\\\"}]}],\\\"examples\\\":{\\\"header_text\\\":[\\\"string\\\"],\\\"body_text\\\":[[\\\"string\\\"]],\\\"header_handle\\\":[\\\"string\\\"]}}],\\\"message_send_ttl_seconds\\\":0,\\\"parameter_format\\\":\\\"NAMED\\\"}\"\n\nheaders = {\n    'content-type': \"application/json\",\n    'Authorization': \"Bearer REPLACE_BEARER_TOKEN\"\n    }\n\nconn.request(\"PUT\", \"/whatsapp/v2/templates/%7Bid%7D\", payload, headers)\n\nres = conn.getresponse()\ndata = res.read()\n\nprint(data.decode(\"utf-8\"))"
          },
          {
            "lang": "C#",
            "source": "var client = new RestClient(\"http://undefinedundefined/whatsapp/v2/templates/%7Bid%7D\");\nvar request = new RestRequest(Method.PUT);\nrequest.AddHeader(\"content-type\", \"application/json\");\nrequest.AddHeader(\"Authorization\", \"Bearer REPLACE_BEARER_TOKEN\");\nrequest.AddParameter(\"application/json\", \"{\\\"category\\\":\\\"AUTHENTICATION\\\",\\\"components\\\":[{\\\"type\\\":\\\"GREETING\\\",\\\"format\\\":\\\"TEXT\\\",\\\"text\\\":\\\"string\\\",\\\"buttons\\\":[{\\\"type\\\":\\\"QUICK_REPLY\\\",\\\"text\\\":\\\"string\\\",\\\"url\\\":\\\"string\\\",\\\"phone_number\\\":\\\"string\\\",\\\"examples\\\":[\\\"string\\\"],\\\"flow_id\\\":0,\\\"zero_tap_terms_accepted\\\":true,\\\"flow_action\\\":\\\"NAVIGATE\\\",\\\"navigate_screen\\\":\\\"string\\\",\\\"supported_apps\\\":[{\\\"package_name\\\":\\\"string\\\",\\\"signature_hash\\\":\\\"string\\\"}]}],\\\"examples\\\":{\\\"header_text\\\":[\\\"string\\\"],\\\"body_text\\\":[[\\\"string\\\"]],\\\"header_handle\\\":[\\\"string\\\"]}}],\\\"message_send_ttl_seconds\\\":0,\\\"parameter_format\\\":\\\"NAMED\\\"}\", ParameterType.RequestBody);\nIRestResponse response = client.Execute(request);"
          },
          {
            "lang": "Java",
            "source": "HttpResponse<String> response = Unirest.put(\"http://undefinedundefined/whatsapp/v2/templates/%7Bid%7D\")\n  .header(\"content-type\", \"application/json\")\n  .header(\"Authorization\", \"Bearer REPLACE_BEARER_TOKEN\")\n  .body(\"{\\\"category\\\":\\\"AUTHENTICATION\\\",\\\"components\\\":[{\\\"type\\\":\\\"GREETING\\\",\\\"format\\\":\\\"TEXT\\\",\\\"text\\\":\\\"string\\\",\\\"buttons\\\":[{\\\"type\\\":\\\"QUICK_REPLY\\\",\\\"text\\\":\\\"string\\\",\\\"url\\\":\\\"string\\\",\\\"phone_number\\\":\\\"string\\\",\\\"examples\\\":[\\\"string\\\"],\\\"flow_id\\\":0,\\\"zero_tap_terms_accepted\\\":true,\\\"flow_action\\\":\\\"NAVIGATE\\\",\\\"navigate_screen\\\":\\\"string\\\",\\\"supported_apps\\\":[{\\\"package_name\\\":\\\"string\\\",\\\"signature_hash\\\":\\\"string\\\"}]}],\\\"examples\\\":{\\\"header_text\\\":[\\\"string\\\"],\\\"body_text\\\":[[\\\"string\\\"]],\\\"header_handle\\\":[\\\"string\\\"]}}],\\\"message_send_ttl_seconds\\\":0,\\\"parameter_format\\\":\\\"NAMED\\\"}\")\n  .asString();"
          },
          {
            "lang": "Node.js",
            "source": "const http = require(\"http\");\n\nconst options = {\n  \"method\": \"PUT\",\n  \"hostname\": \"undefinedundefined\",\n  \"port\": null,\n  \"path\": \"/whatsapp/v2/templates/%7Bid%7D\",\n  \"headers\": {\n    \"content-type\": \"application/json\",\n    \"Authorization\": \"Bearer REPLACE_BEARER_TOKEN\"\n  }\n};\n\nconst req = http.request(options, function (res) {\n  const chunks = [];\n\n  res.on(\"data\", function (chunk) {\n    chunks.push(chunk);\n  });\n\n  res.on(\"end\", function () {\n    const body = Buffer.concat(chunks);\n    console.log(body.toString());\n  });\n});\n\nreq.write(JSON.stringify({\n  category: 'AUTHENTICATION',\n  components: [\n    {\n      type: 'GREETING',\n      format: 'TEXT',\n      text: 'string',\n      buttons: [\n        {\n          type: 'QUICK_REPLY',\n          text: 'string',\n          url: 'string',\n          phone_number: 'string',\n          examples: ['string'],\n          flow_id: 0,\n          zero_tap_terms_accepted: true,\n          flow_action: 'NAVIGATE',\n          navigate_screen: 'string',\n          supported_apps: [{package_name: 'string', signature_hash: 'string'}]\n        }\n      ],\n      examples: {header_text: ['string'], body_text: [['string']], header_handle: ['string']}\n    }\n  ],\n  message_send_ttl_seconds: 0,\n  parameter_format: 'NAMED'\n}));\nreq.end();"
          },
          {
            "lang": "Curl",
            "source": "curl --request PUT \\\n  --url http://undefinedundefined/whatsapp/v2/templates/%7Bid%7D \\\n  --header 'Authorization: Bearer REPLACE_BEARER_TOKEN' \\\n  --header 'content-type: application/json' \\\n  --data '{\"category\":\"AUTHENTICATION\",\"components\":[{\"type\":\"GREETING\",\"format\":\"TEXT\",\"text\":\"string\",\"buttons\":[{\"type\":\"QUICK_REPLY\",\"text\":\"string\",\"url\":\"string\",\"phone_number\":\"string\",\"examples\":[\"string\"],\"flow_id\":0,\"zero_tap_terms_accepted\":true,\"flow_action\":\"NAVIGATE\",\"navigate_screen\":\"string\",\"supported_apps\":[{\"package_name\":\"string\",\"signature_hash\":\"string\"}]}],\"examples\":{\"header_text\":[\"string\"],\"body_text\":[[\"string\"]],\"header_handle\":[\"string\"]}}],\"message_send_ttl_seconds\":0,\"parameter_format\":\"NAMED\"}'"
          }
        ]
      },
      "delete": {
        "tags": [
          "Manage templates"
        ],
        "summary": "Delete template",
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string",
              "format": "uuid"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Success"
          },
          "400": {
            "description": "Bad Request",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/WhatsAppErrorResponseV2"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/WhatsAppErrorResponseV2"
                }
              }
            }
          },
          "403": {
            "description": "Forbidden",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/WhatsAppErrorResponseV2"
                }
              }
            }
          },
          "429": {
            "description": "Too Many Requests",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/WhatsAppErrorResponseV2"
                }
              }
            }
          },
          "500": {
            "description": "Server Error",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/WhatsAppErrorResponseV2"
                }
              }
            }
          },
          "502": {
            "description": "Server Error",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/WhatsAppErrorResponseV2"
                }
              }
            }
          }
        },
        "x-codeSamples": [
          {
            "lang": "Python",
            "source": "import http.client\n\nconn = http.client.HTTPConnection(\"undefinedundefined\")\n\nheaders = { 'Authorization': \"Bearer REPLACE_BEARER_TOKEN\" }\n\nconn.request(\"DELETE\", \"/whatsapp/v2/templates/%7Bid%7D\", headers=headers)\n\nres = conn.getresponse()\ndata = res.read()\n\nprint(data.decode(\"utf-8\"))"
          },
          {
            "lang": "C#",
            "source": "var client = new RestClient(\"http://undefinedundefined/whatsapp/v2/templates/%7Bid%7D\");\nvar request = new RestRequest(Method.DELETE);\nrequest.AddHeader(\"Authorization\", \"Bearer REPLACE_BEARER_TOKEN\");\nIRestResponse response = client.Execute(request);"
          },
          {
            "lang": "Java",
            "source": "HttpResponse<String> response = Unirest.delete(\"http://undefinedundefined/whatsapp/v2/templates/%7Bid%7D\")\n  .header(\"Authorization\", \"Bearer REPLACE_BEARER_TOKEN\")\n  .asString();"
          },
          {
            "lang": "Node.js",
            "source": "const http = require(\"http\");\n\nconst options = {\n  \"method\": \"DELETE\",\n  \"hostname\": \"undefinedundefined\",\n  \"port\": null,\n  \"path\": \"/whatsapp/v2/templates/%7Bid%7D\",\n  \"headers\": {\n    \"Authorization\": \"Bearer REPLACE_BEARER_TOKEN\"\n  }\n};\n\nconst req = http.request(options, function (res) {\n  const chunks = [];\n\n  res.on(\"data\", function (chunk) {\n    chunks.push(chunk);\n  });\n\n  res.on(\"end\", function () {\n    const body = Buffer.concat(chunks);\n    console.log(body.toString());\n  });\n});\n\nreq.end();"
          },
          {
            "lang": "Curl",
            "source": "curl --request DELETE \\\n  --url http://undefinedundefined/whatsapp/v2/templates/%7Bid%7D \\\n  --header 'Authorization: Bearer REPLACE_BEARER_TOKEN'"
          }
        ]
      }
    }
  },
  "components": {
    "schemas": {
      "KongPluginErrorResponse": {
        "type": "object",
        "properties": {
          "error": {
            "type": "string",
            "description": "Status code"
          },
          "correlationId": {
            "type": "string",
            "format": "uuid"
          }
        }
      },
      "MessageRequest": {
        "required": [
          "content",
          "recipient"
        ],
        "type": "object",
        "properties": {
          "recipient": {
            "minLength": 1,
            "type": "string"
          },
          "content": {
            "$ref": "#/components/schemas/MessageContent"
          },
          "expiration": {
            "$ref": "#/components/schemas/MessageExpiration"
          },
          "callback": {
            "$ref": "#/components/schemas/MessageCallback"
          },
          "priority": {
            "$ref": "#/components/schemas/MessagePriority"
          },
          "referenceId": {
            "maxLength": 500,
            "type": "string",
            "description": "Your own internal transaction ID. Not used for anything except as a reference. Optional."
          }
        },
        "additionalProperties": false
      },
      "MessageContent": {
        "type": "object",
        "required": [
          "media",
          "options"
        ],
        "properties": {
          "media": {
            "oneOf": [
              {
                "type": "object",
                "title": "TextMessage",
                "properties": {
                  "text": {
                    "type": "object",
                    "properties": {
                      "preview_url": {
                        "type": "boolean"
                      },
                      "body": {
                        "type": "string",
                        "maxLength": 4096
                      }
                    },
                    "required": [
                      "body"
                    ],
                    "additionalProperties": false
                  },
                  "type": {
                    "enum": [
                      "text"
                    ]
                  }
                },
                "required": [
                  "text",
                  "type"
                ],
                "additionalProperties": false
              },
              {
                "type": "object",
                "title": "TemplateMessage",
                "properties": {
                  "template": {
                    "type": "object",
                    "properties": {
                      "components": {
                        "type": "array",
                        "items": {
                          "anyOf": [
                            {
                              "$ref": "#/components/schemas/HeaderComponent"
                            },
                            {
                              "$ref": "#/components/schemas/BodyComponent"
                            },
                            {
                              "$ref": "#/components/schemas/ButtonComponent"
                            },
                            {
                              "type": "object",
                              "title": "LimitedTimeOffer",
                              "properties": {
                                "parameters": {
                                  "type": "array",
                                  "items": {
                                    "type": "object",
                                    "properties": {
                                      "limited_time_offer": {
                                        "type": "object",
                                        "properties": {
                                          "expiration_time_ms": {
                                            "type": "integer",
                                            "format": "int64",
                                            "description": "Offer code expiration time as a UNIX timestamp in milliseconds"
                                          }
                                        },
                                        "required": [
                                          "expiration_time_ms"
                                        ],
                                        "additionalProperties": false
                                      },
                                      "type": {
                                        "enum": [
                                          "limited_time_offer"
                                        ]
                                      }
                                    },
                                    "required": [
                                      "limited_time_offer",
                                      "type"
                                    ],
                                    "additionalProperties": false
                                  }
                                },
                                "type": {
                                  "enum": [
                                    "limited_time_offer"
                                  ]
                                }
                              },
                              "required": [
                                "parameters",
                                "type"
                              ],
                              "additionalProperties": false
                            },
                            {
                              "type": "object",
                              "title": "Carousel",
                              "properties": {
                                "cards": {
                                  "type": "array",
                                  "items": {
                                    "type": "object",
                                    "properties": {
                                      "card_index": {
                                        "type": "integer",
                                        "format": "int32"
                                      },
                                      "components": {
                                        "type": "array",
                                        "items": {
                                          "anyOf": [
                                            {
                                              "$ref": "#/components/schemas/HeaderComponent"
                                            },
                                            {
                                              "$ref": "#/components/schemas/BodyComponent"
                                            },
                                            {
                                              "$ref": "#/components/schemas/ButtonComponent"
                                            }
                                          ]
                                        }
                                      }
                                    },
                                    "required": [
                                      "card_index"
                                    ],
                                    "additionalProperties": false
                                  }
                                },
                                "type": {
                                  "enum": [
                                    "carousel"
                                  ]
                                }
                              },
                              "additionalProperties": false,
                              "required": [
                                "type"
                              ]
                            }
                          ]
                        }
                      },
                      "language": {
                        "type": "object",
                        "properties": {
                          "code": {
                            "type": "string",
                            "pattern": "^[a-z]{2,3}(_[A-Z]{2})?$"
                          },
                          "policy": {
                            "type": "string",
                            "enum": [
                              "deterministic"
                            ]
                          }
                        },
                        "required": [
                          "code"
                        ],
                        "additionalProperties": false
                      },
                      "name": {
                        "type": "string"
                      }
                    },
                    "required": [
                      "language",
                      "name"
                    ],
                    "additionalProperties": false
                  },
                  "type": {
                    "enum": [
                      "template"
                    ]
                  }
                },
                "required": [
                  "template",
                  "type"
                ],
                "additionalProperties": false
              },
              {
                "type": "object",
                "title": "AudioMessage",
                "properties": {
                  "audio": {
                    "type": "object",
                    "properties": {
                      "id": {
                        "type": "string"
                      },
                      "link": {
                        "type": "string",
                        "description": "valid url"
                      }
                    },
                    "additionalProperties": false,
                    "oneOf": [
                      {
                        "required": [
                          "id"
                        ]
                      },
                      {
                        "required": [
                          "link"
                        ]
                      }
                    ]
                  },
                  "type": {
                    "enum": [
                      "audio"
                    ]
                  }
                },
                "required": [
                  "audio",
                  "type"
                ],
                "additionalProperties": false
              },
              {
                "type": "object",
                "title": "VideoMessage",
                "properties": {
[...]
